<div class="bs-footer">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <h2 class="title">Rethink Digital</h2>
            <ul class="footer-nav-list">
                <li class="nav-item"><a href="vividflow-designer.shtml">Vivid Authoring Studio</a></li>
                <li class="nav-item"><a href="david-decision.shtml">David Decision Engine</a></li>
                <li class="nav-item"><a href="regain-winback-modeler.shtml">Regain Win-back Modeler</a></li>
                <li class="nav-item"><a href="virtual-assistant.shtml">Virtual Assistants</a></li>
                <li class="nav-item"><a href="ecosystem.shtml">Digital Eco System Connectors</a></li>
                <li class="nav-item"><a href="master-data-management.shtml">Master Data Management</a></li>
                <li class="nav-item"><a href="digital-offer-management.shtml">Digital Offer Management</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <h2 class="title">Rethink CRM</h2>
            <ul class="footer-nav-list">
                <li class="nav-item"><a href="sales.shtml">Sales</a></li>
                <li class="nav-item"><a href="services.shtml">Service</a></li>
                <li class="nav-item"><a href="cross-sell.shtml">Cross Sell</a></li>
                <li class="nav-item"><a href="marketing.shtml">Marketing</a></li>
                <li class="nav-item"><a href="social.shtml">Social</a></li>
                <li class="nav-item"><a href="analytics.shtml">Analytics</a></li>
                <li class="nav-item"><a href="collaboration.shtml">Collaboration</a></li>
                <li class="nav-item"><a href="process-management.shtml">Business Process Management</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <h2 class="title">Industries</h2>
            <ul class="footer-nav-list">
                <li class="nav-item"><a href="retail-banking.shtml">Banking</a></li>
                <li class="nav-item"><a href="insurance.shtml">Insurance</a></li>
                <li class="nav-item"><a href="wealth-management.shtml">Wealth Management</a></li>
                <li class="nav-item"><a href="securities.shtml">Securities</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h2 class="title">Newsletter</h2>
            <div class="desc">
                <p>Share your email for subscribing to our mailing list.</p>
            </div>
            <div class="mod-newsletter">
                <input class="input-fld" type="text" name="news_email" id="news_email" placeholder="E-mail" />
                <button class="btn btn-send">send</button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-right col-xs-12">
            <h2 class="title">connect</h2>
            <ul class="bs-social-connect">
                <li class="social-link typ-fb"><a href="https://www.facebook.com/crmnext/" target="_blank" class="btn btn-icon"><i class="icon icon-fb"></i></a></li>
                <li class="social-link typ-tweet"><a href="https://twitter.com/crmnext" target="_blank" class="btn btn-icon"><i class="icon icon-twiter"></i></a></li>
                <li class="social-link typ-gplus"><a href="https://plus.google.com/105482161181572414482" target="_blank" class="btn btn-icon"><i class="icon icon-gplus"></i></a></li>
                <li class="social-link typ-linkedin"><a href="http://www.linkedin.com/company/315092" target="_blank" class="btn btn-icon"><i class="icon icon-linkedin"></i></a></li>
                <li class="social-link typ-utube"><a href="https://www.youtube.com/user/crmnext1" target="_blank" class="btn btn-icon"><i class="icon icon-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row bottom-bar">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="brand">
                <img src="images/crm_logo_white.svg" alt="brand logo">
            </div>
            <label class="copyright">&copy; Copyright 2000-2017 CRMNEXT, <span class="cm-line-break">A division of Acidaes Solutions Pvt. Ltd,
Offering Customer Relationship Management (CRM) Software
All rights reserved, various trademarks held by their respective owners.</span></label>

        </div>
        <!--<div class="col-md-4 col-xs-12">
            
        </div>-->
        <div class="col-md-3 col-sm-6 col-md-offset-3 col-xs-12">
            <ul class="footer-nav-list typ-horz">
                <li class="nav-item"><a href="http://career.crmnext.com/" target="_blank">CAREERS</a></li>
                <li class="nav-item"><a href="privacy-policy.shtml">PRIVACY</a></li>
                <li class="nav-item"><a href="sitemap.shtml">SITEMAP</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="cm-loader active"></div>