<link rel="stylesheet" type="text/css" href="css/plugins/libraries.css">
<!--<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">-->
<!--<link href="https://file.myfontastic.com/pqmQ7Jz4TZqwK4jFaaJPtC/icons.css" rel="stylesheet">-->
<!-- <link href="//file.myfontastic.com/wji34WSCPBMuJyKaWWEBoa/icons.css" rel="stylesheet"> -->
<link href="css/fontastic/icons.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="shortcut icon" href="images/32x32pxl_CRMNEXT_Icon.png" type="image/x-icon">