<div class="bs-sec cm-bg typ-dusty sec-resources">
    <div class="sec-head">
        <div class="container">
            <h2 class="sec-title text-center cm-heart-divider typ-dark">resources</h2>
        </div>
    </div>
    <div class="sec-cont">
        <div class="container">
            <ul class=" lyt-list typ-grid row">
                <li class="list-item col-sm-4 text-center">
                    <div class="bs-icon-info typ-unify typ-sm">
                        <h4 class="icinfo-title ">profiting from customer lifecycle value</h4>
                    </div>
                </li>
                <li class="list-item col-sm-4 text-center">
                    <div class="bs-icon-info typ-tree typ-sm">
                        <h4 class="icinfo-title ">can your in-house system accelerate growth?</h4>
                    </div>
                </li>
                <li class="list-item col-sm-4 text-center">
                    <div class="bs-icon-info typ-chat typ-sm">
                        <h4 class="icinfo-title ">is your customer strategy aligned with customer experience?</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>