<div class="bs-sec cm-bg typ-default typ-texture abstract typ-red">
    <div class="sec-head">
        <div class="container">
            <h2 class="sec-title text-center cm-heart-divider">customer success stories</h2>
        </div>
    </div>
    <div class="sec-cont">
        <div class="container">
            <ul class="bs-partners typ-bright">
                <li class="partners">
                    <a class="partners-link" href="hdfc-bank.shtml"><img class="img-responsive" src="images/leader_logo/hdfc.png" alt="hdfc logo" /></a>
                </li>
                <li class="partners">
                    <a class="partners-link" href="bajaj-finance.shtml"><img class="img-responsive" src="images/leader_logo/bajaj.png" alt="bajaj logo" /></a>
                </li>
                <li class="partners">
                    <a class="partners-link" href="axis-bank.shtml"><img class="img-responsive" src="images/leader_logo/axis.png" alt="axis logo" /></a>
                </li>
                <li class="partners">
                    <a class="partners-link" href="icici-bank.shtml"><img class="img-responsive" src="images/leader_logo/icici-bright.png" alt="icici logo" /></a>
                </li>
                <li class="partners">
                    <a class="partners-link" href="nbo.shtml"><img class="img-responsive" src="images/leader_logo/nbo.png" alt="nbo logo" /></a>
                </li>
                <li class="partners">
                    <a class="partners-link" href="bdo.shtml"><img class="img-responsive" src="images/leader_logo/bdo-white.png" alt="bdo logo" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>