//lyt-adspace
.lyt-adspace {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/transparent-bg.png') repeat 0 0 transparent;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-adspace {
        position: relative;
        top: 0;
        transform: translateY(0%);
        width: auto;
        height: 100px;
        margin: 0 -15px;
    }
}