// lyt-no-banner
.lyt-no-banner {
    padding: 20px 0px 100px;
    position: relative;
    .head-wrapper {
        .title {
            font-family: $fnt-bold;
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 50px;
        }
        .desc {
            font-family: $fnt-regular;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 20px;
        }
        &.typ-learning {
            .title {
                margin-bottom: 20px;
                font-size: 25px;
                line-height: 27px;
                text-transform: uppercase;
            }
            .desc {
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .cm-action-wrap {
        position: absolute;
        bottom: 29px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0px;
        .btn-default {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    &.typ-partner {
        padding-bottom: 50px;
        .lyt-col2 {
            &.typ-sales {
                .img-wrap {
                    margin: 0px;
                    img {
                        width: 100%;
                    }
                }
                .bs-info-box {
                    &.typ-partner {
                        &.typ-inner {
                            .img-wrap {
                                img {
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .img-wrap {
            img {
                width: 100%;
            }
        }
        .partner-list {
            display: table;
            border-collapse: separate;
            border-spacing: 15px;
            .list {
                display: table-cell;
                // box-shadow: 1px 5px #ccc;
                padding: 0;
                float: none;
                width: 50%;
                box-shadow: 0px 1px 3px #ddd, inset 0px 1px 3px #ddd;
                position: relative;
                &.no-shadow {
                    box-shadow: none;
                }
            }
        }
    }
    &.typ-press-inner {
        padding-bottom: 20px;
        .head-wrapper {
            .title {
                font-size: 25px;
                line-height: 27px;
                margin-bottom: 20px;
            }
        }
    }
    .lyt-col2 {
        &.typ-sales {
            .img-wrap {
                margin: 15px auto;
                text-align: center;
                img {
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-no-banner {
        .head-wrapper {
            .title {
                font-size: 20px;
                line-height: 22px;
            }
            .desc {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &.typ-partner {
            .partner-list {
                display: block;
                .list {
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation:landscape) {
    .lyt-no-banner {
        &.typ-partner {
            .partner-list {
                display: table;
                .list {
                    display: table-cell;
                    width: 50%;
                }
            }
        }
    }
}