//lyt-ecosystem
.lyt-ecosystem {
    .mod-head-sec {
        .hs-title {
            margin-bottom: 0;
        }
    }
    .mod-info {
        padding: 0 20px;
        .info-title {
            position: relative;
            &:before {
                content: "\69";
                font-family: "crm" !important;
                color: $clr-root;
                font-size: 16px;
                line-height: 18px;
                vertical-align: middle;
                position: absolute;
                left: -20px;
                top: 1px;
                text-transform: lowercase!important;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .lyt-ecosystem {
        .mod-info {
            text-align: left;
        }
        .bs-sec {
            .img-wrap {
                width: 110px!important;
            }
        }
    }
}