/* lyt-list.scss */

.lyt-nirmaya {
    margin-bottom: 60px;
    .sec-title{
        margin-bottom: 25px;
    }
    .sec-desc{
        p{
            font-size: 20px;
            line-height: 26px;
        }
    }
   .img-wrap{
       img{
           width: 100%;
       }
   }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-nirmaya {//n-21-6-17
        .sec-desc {
            p {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 15px;
            }
        }
    }
}