//lyt-request
.lyt-request {
    padding: 40px 0px;
    .bs-forms {
        width: 600px;
        padding: 0px 30px;
    }
    .cm-action-wrap {
        margin-left: 30px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-request {
        .img-wrap {
            img {
                width: 100%;
            }
        }
        .bs-forms {
            width: auto;
            padding: 30px 0px 0px;
        }
        .cm-action-wrap {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}