//lyt-cust
.lyt-cust {}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-cust {
        .container {
            &.typ-md {
                padding: 0px 15px;
            }
        }
    }
}