//lyt-accelerators
.lyt-accelerators {
    .typ-single {
        .content-wrap {
            .desc {
                width: 65%;
                ul {
                    margin-top: 10px;
                    li {
                        margin-bottom: 15px;
                        position: relative;
                        padding-left: 25px;
                    }
                }
            }
        }
    }
    .mod-features {
        &.typ-details {
            .detail-list {
                li {
                    text-align: left;
                    margin-bottom: 20px;
                    height: 120px;
                }
                &.typ-title {
                    li {
                        text-align: left;
                        min-height: auto;
                        height: auto;
                    }
                }
            }
        }
    }
    .bs-sec {
        .img-wrap {
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-accelerators {
        .typ-single {
            .content-wrap {
                .sec-title {
                    text-align: left;
                    margin-bottom: 20px;
                }
                .desc {
                    width: auto;
                    margin-bottom: 0px;
                }
            }
        }
        .mod-features {
            &.typ-details {
                .detail-list {
                    li {
                        text-align: left;
                        min-height: auto;
                        margin-bottom: 20px;
                        height: auto;
                    }
                }
            }
        }
        .bs-sec {
            .img-wrap {
                img {
                    width: 75%;
                    display: inline-block;
                }
            }
        }
    }
}