/* lyt-info.scss */

.lyt-info {
    &.typ-key-bands {
        background-color: #eee8e2;
        padding-top: 30px;
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-info {}
}