//lyt-sitemap
.lyt-sitemap {
    .title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 25px;
        font-family: $fnt-bold;
        padding-top: 30px;
        text-transform: uppercase;
    }
    .sub-title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
        font-family: $fnt-bold;
        text-transform: uppercase;
        margin-left: 10px;
        a {
            &:hover {
                color: $clr-default;
            }
        }
    }
}