/* lyt-list.scss */

.lyt-list {
    margin-bottom: 40px;
    .list-item {}
    &.typ-grid {
        .list-item {
            padding: 0 40px;
            &:first-child {
                padding-left: 20px;
            }
            &:last-child {
                padding-right: 20px;
            }
        }
    }
    &.typ-h-separator {
        .list-item {
            &:after {
                content: "\69";
                font-family: "crm" !important;
                text-transform: lowercase!important;
                position: absolute;
                top: 50%;
                left: -4px;
                font-size: 24px;
                color: #0cada1;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 1px;
                background: rgba(255, 255, 255, .2);
            }
            &:first-child {
                &:before {
                    background: none;
                }
                &:after {
                    content: "";
                }
            }
        }
        &.typ-tilt {
            .list-item {
                &:before {
                    transform: rotate(8deg)
                }
                &:first-child {
                    &:before {
                        background: none;
                    }
                }
            }
        }
        &.typ-dark {
            .list-item {
                &:before {
                    background: rgba(0, 0, 0, .2);
                }
                &:first-child {
                    &:before {
                        background: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-list {
        &.typ-grid {
            .list-item {
                padding: 20px 20px;
                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    padding-right: 20px;
                }
            }
        }
        &.typ-h-separator {
            .list-item {
                &:after {
                    content: none;
                }
                &:before {
                    content: none;
                }
            }
        }
    }
}