//lyt-press
.lyt-press {
    .bs-sec {
        padding-bottom: 0;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-press {
        .bs-sec {
            .sec-cont {
                margin-top: 30px;
            }
        }
    }
}