//lyt-awards
.lyt-awards {
    ul {
        padding: 0 60px;
    }
    a {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .bs-info-box {
        &.typ-awards {
            &:after {
                content: none;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-awards {
        ul {
            padding: 0 15px;
            li {
                margin-bottom: 30px;
            }
        }
    }
}