//lyt-industries
.lyt-industries {
    section {
        .bs-sec {
            padding-top: 100px;
            &.typ-col {
                padding: 0;
            }
        }
        &:first-child {
            .bs-sec {
                padding-top: 40px;
            }
        }
    }
    .bs-sec {
        .mod-features {
            text-align: left;
        }
        .img-wrap {
            position: relative;
            width: 700px;
            margin: 0 auto;
            transform: translateY(20px);
            img {
                width: 100%;
            }
            &.pos-center {
                transform: translateY(120px);
            }
        }
        &.typ-col {
            height: 370px;
            position: relative;
            .img-wrap {
                width: auto;
                left: -15px;
                transform: translateY(0%);
            }
            .content-wrap {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.typ-single {
            .mod-features {
                padding-left: 0px;
            }
            .img-wrap {
                transform: none;
                width: 50%;
            }
        }
        &.abstract {
            position: inherit;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-industries {
        section {
            .bs-sec {
                padding-top: 50px;
                &.typ-col {
                    padding: 0;
                }
            }
        }
        .bs-sec {
            .mod-features {
                text-align: center;
                margin-bottom: 20px;
                &.typ-details {
                    text-align: left;
                }
            }
            .img-wrap {
                width: auto;
                text-align: center;
                transform: translateY(50px);
                &.pos-center {
                    transform: translateY(80px);
                }
            }
            &.typ-col {
                height: auto;
                .content-wrap {
                    position: relative;
                    top: 0;
                    transform: translateY(0%);
                    padding-top: 250px;
                    &.typ-list-desc {
                        padding-top: 270px;
                    }
                }
                .img-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0px;
                }
            }
        }
    }
}

// n-21-6-17
@media only screen and (max-width: $mobile-xs-breakpoint) {
    .lyt-industries {
        .bs-sec {
            .img-wrap {
                transform: translateY(0px);
                &.pos-center {
                    transform: translateY(0px);
                }
            }
            &.typ-col {
                .content-wrap {
                    padding-top: 180px; //n
                }
            }
        }
    }
}

//akash
@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .lyt-industries {
        .bs-sec {
            &.typ-col {
                .content-wrap {
                    padding-top: 320px;
                    &.typ-list-desc {
                        padding-top: 470px;
                    }
                }
            }
            .img-wrap {
                img {
                    width: 75%;
                    display: inline-block;
                }
            }
        }
    }
}

//akash
@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation: landscape) {
    .lyt-industries {
        section {
            .bs-sec {
                &.typ-col {
                    padding: 30px 0px;
                }
            }
        }
        .bs-sec {
            &.typ-col {
                height: 450px;
                .content-wrap {
                    padding-top: 0px;
                    &.typ-list-desc {
                        padding-top: 0px;
                    }
                }
                .img-wrap {
                    width: 50% !important;
                    img {
                        width: 100%;
                    }
                }
            }
            &.typ-col-list {
                height: 300px;
            }
            .img-wrap {
                transform: translateY(10px);
                img {
                    width: 75%;
                    display: inline-block;
                }
            }
        }
    }
}