//lyt-head-sec
.lyt-head-sec {
    .mod-head-sec {
        text-align: left;
        .hs-title {
            font-size: 25px;
            line-height: 27px;
        }
    }
    &.typ-single {
        box-shadow: 0px 1px 2px #ddd;
        // padding: 25px 20px;
        width: 100%;
        .sec-desc {
            p {
                margin-bottom: 5px;
            }
        }
    }
    &.typ-double {
        overflow: hidden;
        box-shadow: 1px 2px 2px #ddd, inset 1px 1px 2px #ddd;
        .sec-desc,
        .mod-usp,
        .hs-title {
            text-align: left;
        }
        .mod-head-sec {
            padding: 0px;
            display: table;
        }
        .sec-L {
            display: table-cell;
            padding: 20px 20px 40px;
            width: 50%;
            box-shadow: inset 1px 1px 2px #ddd;
        }
        .sec-R {
            display: table-cell;
            padding: 20px 20px 40px;
            width: 50%;
            box-shadow: inset 1px 1px 2px #ddd;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-head-sec {
        .mod-head-sec {
            .hs-title {
                font-size: 18px;
                line-height: 20px;
            }
        }
        &.typ-double {
            .mod-head-sec {
                display: block;
            }
            .sec-L,
            .sec-R {
                display: block;
                width: 100%;
            }
        }
    }
}