//lyt-connectors
.lyt-connectors {
    >li {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .lyt-connectors {
        >li {
            margin-bottom: 60px;
        }
    }
}