//lyt-col2
.lyt-col2 {
    &.colR {
        .infography-cont {
            padding: 10px 100px 10px 30px;
        }
        .infography-img-wrap {
            padding: 10px 30px 10px 60px;
        }
    }
    &.colL {
        .infography-cont {
            padding: 10px 30px 10px 60px;
        }
        .infography-img-wrap {
            padding: 10px 40px 10px 30px;
        }
    }
    &.single {
        padding-left: 80px;
        padding-right: 80px;
        .infography-title {
            margin-bottom: 50px;
        }
        .infography-img-wrap {
            // margin-top: 60px;
            img {
                width: 100%;
            }
        }
    }
    &.typ-social {
        .infography-img-wrap {
            // width: 500px;
            // position: absolute;
            // right: 100px;
            // top: 50%;
            // transform: translateY(-50%);
        }
    }
    .btn-white-overlay,
    .btn-default {
        padding: 15px 30px;
        color: rgba(0, 0, 0, 0.5);
        font-family: $fnt-smbold;
    }
    .btn-default {
        border-width: 5px;
    }
    &.typ-sales {
        padding-left: 80px;
        padding-right: 80px;
        .mod-infography {
            // margin-bottom: 30px;
        }
        .img-wrap {
            // margin-top: 50px;
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-col2 {
        padding-top: 20px;
        &.colR {
            .mob-btm {
                .infography-img-wrap {
                    padding: 0px 10px; //n-21-6-17
                    position: absolute;
                }
            }
            .infography-cont {
                padding: 0px;
                text-align: center;
            }
            .infography-img-wrap {
                padding: 0px 30px 0px;
                text-align: center;
            }
        }
        &.colL {
            .infography-cont {
                padding: 0px;
                text-align: center;
            }
            .infography-img-wrap {
                padding: 10px 15px;
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
        .btn-default {
            padding: 10px 30px;
        }
        &.single {
            padding: 15px 0px;
            .infography-img-wrap {
                margin-top: 0px;
                padding-top: 15px;
                text-align: center;
                img {
                    width: 75%;
                    display: inline-block;
                }
            }
        }
        &.typ-social {
            .infography-img-wrap {
                // width: 50%;//n-21-6-17
                position: relative;
                top: auto;
                right: 0;
                margin: 0 auto;
                left: 0;
                text-align: center;
            }
        }
        &.typ-sales {
            padding: 0;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .lyt-col2 {
        &.typ-sales {
            .img-wrap {
                img {
                    width: 75%;
                }
            }
        }
        &.typ-speakers {
            .img-wrap {
                img {
                    width: 100%;
                }
            }
        }
        &.colL {
            .infography-img-wrap {
                img {
                    width: 50%;
                }
            }
        }
        .mod-infography {
            &.typ-team {
                .infography-img-wrap {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}