//lyt-learn
.lyt-learn {
    .btn-request-demo {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        padding: 5px 20px;
        transition-duration: .5s;
        font-family: $fnt-bold;
        color: #000;
        &.dark-theme {
            opacity: 0;
        }
        &.fix-top {
            position: fixed;
            top: 5px;
            right: 20px;
            opacity: 1;
            z-index: 5;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-learn {
        .container {
            &.typ-md {
                padding: 0px 15px;
            }
        }
        .btn-request-demo {
            display: none;
        }
    }
}