//lyt-tab
.lyt-tab {
    min-height: 550px;
    .nav-tabs {
        width: 15%;
        float: left;
        >li {
            display: block;
            float: none;
            >a {
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                font-family: $fnt-bold;
                text-align: center;
                padding: 60px 0px;
                border-radius: 0;
                &:hover {
                    color: $clr-default;
                    background: #eceef1;
                    border-color: transparent;
                }
            }
            &.active {
                >a {
                    color: $clr-default;
                    background: #f2f4f6;
                    border: none;
                }
            }
        }
    }
    .tab-content {
        width: 85%;
        float: left;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-tab {
        min-height: auto;
        position: relative;
        .nav-tabs {
            width: auto;
            float: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            >li {
                display: block;
                float: left;
                width: 25%;
                >a {
                    padding: 30px 5px;
                    min-height: 92px;
                    margin-right: 0px;
                }
            }
        }
        .tab-content {
            width: auto;
            float: none;
            padding-top: 92px;
            #map_wrapper,
            iframe {
                height: 300px!important;
            }
        }
    }
}