.lyt-event-filter {
    display: block;
    overflow: hidden;
    .mod-event-filter {
        .filter-left,
        .filter-right {
            padding: 35px 0px 35px 80px;
            width: 50%;
            float: left;
            display: inline-block;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-event-filter {
        .mod-event-filter {
            .filter-left,
            .filter-right {
                width: 100%;
                float: none;
                padding: 10px 34px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and(orientation:landscape) {
    .lyt-event-filter {
        .mod-event-filter {
            .filter-left,
            .filter-right {
                padding: 35px 0px 35px 80px;
                width: 50%;
                float: left;
            }
        }
    }
}