<header>
    <div class="bs-header">
        <a href="index.shtml" class="logo"><img src="images/crm_next_logo.svg" alt="crm next logo"></a>
        <a href="#" class="hamburger-link cm-visible-sm">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <!--<button class="btn btn-search"><i class="icon icon-search"></i></button>-->
        <a href="https://app.crmnext.com/sn/app/login/login" class="btn btn-default btn-dark btn-login cm-hidden-sm">login</a>
        <!--<a href="request-demo.shtml" class="btn btn-primary cm-visible-sm">request demo</a>-->
        <a class="btn btn-request-demo" href="request-demo.shtml">request demo</a>

        <nav>
            <ul class="bs-main-menu ">
                <li class="item">
                    <a class="main-link">products</a>
                    <div class="sub-menu-wrap left-nav-active">
                        <ul class="sub-menu">
                            <li class="item active">
                                <a href="#" class="link">re-think crm</a>
                                <div class="menu-link-wrap">
                                    <ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">overview</h2>
                                                <p class="link-info">
                                                    Starring the world's most powerful CRM.
                                                </p>
                                                <a href="overview-re-think-crm.shtml" class="link">overview</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Sales</h2>
                                                <p class="link-info">
                                                    Simplify selling powered by quality leads and shorter sales cycles.
                                                </p>
                                                <a href="sales.shtml" class="link">Sales</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Service</h2>
                                                <p class="link-info">
                                                    Respond faster with accurate solutions to customer problems.
                                                </p>
                                                <a href="services.shtml" class="link">Service</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Cross-sell</h2>
                                                <p class="link-info">
                                                    Personalized offers that guarantee high conversions.
                                                </p>
                                                <a href="cross-sell.shtml" class="link">Cross-sell</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Marketing</h2>
                                                <p class="link-info">
                                                    Smarter campaigns that increase engagement to drive responses.
                                                </p>
                                                <a href="marketing.shtml" class="link">Marketing</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Process management</h2>
                                                <p class="link-info">
                                                    Own and organize your processes
                                                </p>
                                                <a href="process-management.shtml" class="link">Process management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Analytics</h2>
                                                <p class="link-info">
                                                    Algorithmic intelligence for actionable insights.
                                                </p>
                                                <a href="analytics.shtml" class="link">Analytics</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Integration</h2>
                                                <p class="link-info">
                                                    Enjoy real time integrations through zero coding with visual designers.
                                                </p>
                                                <a href="integration.shtml" class="link">Integration</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Social</h2>
                                                <p class="link-info">
                                                    Track and convert social feeds into leads, customer solutions etc.
                                                </p>
                                                <a href="social.shtml" class="link">Social</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Collaboration</h2>
                                                <p class="link-info">
                                                    Conversationally drive teamwork for impactful results.
                                                </p>
                                                <a href="collaboration.shtml" class="link">Collaboration</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="link">re-think digital</a>
                                <div class="menu-link-wrap">
                                    <ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">overview</h2>
                                                <p class="link-info">
                                                    Starring the world's most powerful Digital Platform.</p>
                                                <a href="overview-re-think-digital.shtml" class="link">overview</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Loan Origination System</h2>
                                                <p class="link-info">
                                                    Robotic los journeys with instant approvals
                                                </p>
                                                <a href="loan-origination-system.shtml" class="link">Digital Loan Origination System</a>
                                            </div>
                                        </li>

                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Vivid&trade; Authoring Studio</h2>
                                                <p class="link-info">
                                                    Create robotic journeys across channels with visual designers.
                                                </p>
                                                <a href="vividflow-designer.shtml" class="link">Vivid&trade; Authoring Studio</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">David&trade; Decision Engine</h2>
                                                <p class="link-info">
                                                    Automating decisions involving complex calculations and rules.
                                                </p>
                                                <a href="david-decision.shtml" class="link">David&trade;  Decision Engine</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">ReGain&trade; Win-back Modeler</h2>
                                                <p class="link-info">
                                                    Create and deploy strategies to maximize conversions.
                                                </p>
                                                <a href="regain-winback-modeler.shtml" class="link">ReGain&trade;  Win-back Modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Virtual Assistance Management</h2>
                                                <p class="link-info">
                                                    Artificial Intelligence to deliver faster customer service
                                                </p>
                                                <a href="virtual-assistant.shtml" class="link">Virtual Assistance Management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Eco-system Connectors</h2>
                                                <p class="link-info">
                                                    End-to-end customer journeys by integrating with ready connectors
                                                </p>
                                                <a href="ecosystem.shtml" class="link">Digital Eco-system Connectors</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Master data management</h2>
                                                <p class="link-info">
                                                    Manage all data required for fulfilment on a single platform
                                                </p>
                                                <a href="master-data-management.shtml" class="link">Master data management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Offer management</h2>
                                                <p class="link-info">
                                                    Create personalized offers with high conversion rates
                                                </p>
                                                <a href="trinity-cross-sell-modeler.shtml" class="link">Digital Offer management</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="link">accelerators</a>
                                <div class="menu-link-wrap">
                                    <ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Catalyst performance modeler</h2>
                                                <p class="link-info">
                                                    Algorithm-based planning. Real-time tracking. Predictive achievement.
                                                </p>
                                                <a href="catalyst-performance-modeler.shtml" class="link">Catalyst performance modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Trinity cross sell modeler</h2>
                                                <p class="link-info">
                                                    Offer customers what they cannot refuse.
                                                </p>
                                                <a href="trinity-cross-sell-modeler.shtml" class="link">Trinity cross sell modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Autoflow Designer</h2>
                                                <p class="link-info">
                                                    Simplify complex workflows with powerful business rules.
                                                </p>
                                                <a href="autoflow-designer.shtml" class="link">Autoflow Designer</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Autonoma Integration Designer</h2>
                                                <p class="link-info">
                                                    Pattern based. Visual designers. Zero coding.
                                                </p>
                                                <a href="autonoma-integration-designer.shtml" class="link">Autonoma Integration Designer</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Mashup Anywhere</h2>
                                                <p class="link-info">
                                                    Fetch External Data. Real Time Integration. Multiple Display Format.
                                                </p>
                                                <a href="mashup-anywhere.shtml" class="link">Mashup Anywhere</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Screenflow Designer</h2>
                                                <p class="link-info">
                                                    Create intuitive, integrated and guided process journeys.
                                                </p>
                                                <a href="screenflow-designer.shtml" class="link">Screenflow Designer</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">vivid authoring studio</h2>
                                                <p class="link-info">
                                                    Create omni-channel robotic journeys with visual designers.
                                                </p>
                                                <a href="vividflow-designer.shtml" class="link">vivid authoring studio</a>
                                            </div>
                                        </li>
                                        <!--<li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">vivid authoring studio</h2>
                                                <p class="link-info">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </p>
                                                <a href="#" class="link">vivid authoring studio</a>
                                            </div>
                                        </li>-->
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a class="main-link">industries</a>
                    <div class="sub-menu-wrap typ-sm">
                        <ul class="sub-menu">
                            <li class="item col-md-12">
                                <div class="link-box">
                                    <h2 class="link-title">Retail Banking</h2>
                                    <p class="link-info">
                                        Bring delight into every banking experience
                                    </p>
                                    <a href="retail-banking.shtml" class="link">Retail Banking</a>
                                </div>
                            </li>
                            <li class="item col-md-12">
                                <div class="link-box">
                                    <h2 class="link-title">Corporate Banking</h2>
                                    <p class="link-info">
                                        Be close to the heart, closer to the brain, closest to the wallet share
                                    </p>
                                    <a href="corporate-banking.shtml" class="link">Corporate Banking</a>
                                </div>
                            </li>
                            <li class="item col-md-12">
                                <div class="link-box">
                                    <h2 class="link-title">Insurance</h2>
                                    <p class="link-info">
                                        Make the business of risk rewarding with robotic processes
                                    </p>
                                    <a href="insurance.shtml" class="link">Insurance</a>
                                </div>
                            </li>
                            <li class="item col-md-12">
                                <div class="link-box">
                                    <h2 class="link-title">Securities</h2>
                                    <p class="link-info">
                                        Put profit in portfolio with trusted relationships
                                    </p>
                                    <a href="securities.shtml" class="link">Securities</a>
                                </div>
                            </li>
                            <li class="item col-md-12">
                                <div class="link-box">
                                    <h2 class="link-title">Wealth Management</h2>
                                    <p class="link-info">
                                        Grow assets through rewarding relationships
                                    </p>
                                    <a href="wealth-management.shtml" class="link">Wealth Management</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a class="main-link" href="customer.shtml">customers</a>
                    <!--<div class="sub-menu-wrap">
                        <ul class="sub-menu">

                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">BAJAJ Finance</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">BAJAJ Finance</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">BDO</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">BDO</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Axis Bank</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Axis Bank</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Big FM</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Big FM</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">ICICI Bank</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">ICICI Bank</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">National Bank of Fujairah</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">National Bank of Fujairah</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">EXIM Bank</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">EXIM Bank</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">HDFC Bank</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">HDFC Bank</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">NBO</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">NBO</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">RBL Bank</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">RBL Bank</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Reliance Mutual Fund</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Reliance Mutual Fund</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">TATA AIA</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">TATA AIA</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">TP BANK</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">TP BANK</a>
                                </div>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <!--<li class="item">
                    <a class="main-link">services</a>
                    <div class="sub-menu-wrap">
                        <ul class="sub-menu">
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Implementation</h2>
                                    <p class="link-info">
                                        We offer comprehensive implementation services for a successful CRMnext roll-out, ensuring it meets our client's rapid time-to-productivity expectations
                                    </p>
                                    <a href="#" class="link">Implementation</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">CRM Readiness</h2>
                                    <p class="link-info">
                                        One of the most important contributing factors for CRM success is giving a thoughtful foresight to the ground work that solidifies the CRM project's readiness capability
                                    </p>
                                    <a href="#" class="link">CRM Readiness</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Department Alignment</h2>
                                    <p class="link-info">
                                        Business systems at their simplest level are sequential frameworks of major functions that reinforce the competitive advantage and the value proposition of organizations
                                    </p>
                                    <a href="#" class="link">Department Alignment</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">IT Alignment</h2>
                                    <p class="link-info">
                                        Business and IT leaders are bullish on technology and are focusing on making their organization IT-smart
                                    </p>
                                    <a href="#" class="link">IT Alignment</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Customer Acquisition Models</h2>
                                    <p class="link-info">
                                        In today's economy, the goal of most businesses is to yield the maximum revenue
                                    </p>
                                    <a href="#" class="link">Customer Acquisition Models</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Cross-selling Models</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Cross-selling Models</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Retention/Attrition Models</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Retention/Attrition Models</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Customer Segmentation Strategy</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Customer Segmentation Strategy</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Business Process Redesign</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Business Process Redesign</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Balance Scorecards</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Balance Scorecards</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Data Mining Services</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Data Mining Services</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Data-marts</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Data-marts</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Complexity Management</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Complexity Management</a>
                                </div>
                            </li>
                            <li class="item col-md-3">
                                <div class="link-box">
                                    <h2 class="link-title">Integration Reliability Services</h2>
                                    <p class="link-info">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </p>
                                    <a href="#" class="link">Integration Reliability Services</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>-->
                <li class="item">
                    <a class="main-link">resource</a>
                    <div class="sub-menu-wrap left-nav-active">
                        <ul class="sub-menu">
                            <li class="item active">
                                <a href="http://crmsolutions.crmnext.com/" target="_blank" class="link">Blog</a>
                                <div class="menu-link-wrap">
                                    <!--<ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">overview</h2>
                                                <p class="link-info">
                                                    Starring the world's most powerful CRM.
                                                </p>
                                                <a href="overview-re-think-crm.shtml" class="link">overview</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Sales</h2>
                                                <p class="link-info">
                                                    Simplify selling powered by quality leads and shorter sales cycles.
                                                </p>
                                                <a href="sales.shtml" class="link">Sales</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Service</h2>
                                                <p class="link-info">
                                                    Respond faster with accurate solutions to customer problems.
                                                </p>
                                                <a href="services.shtml" class="link">Service</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Cross-sell</h2>
                                                <p class="link-info">
                                                    Personalized offers that guarantee high conversions.
                                                </p>
                                                <a href="cross-sell.shtml" class="link">Cross-sell</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Marketing</h2>
                                                <p class="link-info">
                                                    Smarter campaigns that increase engagement to drive responses.
                                                </p>
                                                <a href="marketing.shtml" class="link">Marketing</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Process management</h2>
                                                <p class="link-info">
                                                    Own and organize your processes
                                                </p>
                                                <a href="process-management.shtml" class="link">Process management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Analytics</h2>
                                                <p class="link-info">
                                                    Algorithmic intelligence for actionable insights.
                                                </p>
                                                <a href="analytics.shtml" class="link">Analytics</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Integration</h2>
                                                <p class="link-info">
                                                    Enjoy real time integrations through zero coding with visual designers.
                                                </p>
                                                <a href="integration.shtml" class="link">Integration</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Social</h2>
                                                <p class="link-info">
                                                    Track and convert social feeds into leads, customer solutions etc.
                                                </p>
                                                <a href="social.shtml" class="link">Social</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Collaboration</h2>
                                                <p class="link-info">
                                                    Conversationally drive teamwork for impactful results.
                                                </p>
                                                <a href="collaboration.shtml" class="link">Collaboration</a>
                                            </div>
                                        </li>
                                    </ul>-->
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="link">whitepaper</a>
                                <div class="menu-link-wrap">
                                    <ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">overview</h2>
                                                <p class="link-info">
                                                    Starring the world's most powerful Digital Platform.</p>
                                                <a href="overview-re-think-digital.shtml" class="link">overview</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Loan Origination System</h2>
                                                <p class="link-info">
                                                    Robotic los journeys with instant approvals
                                                </p>
                                                <a href="loan-origination-system.shtml" class="link">Digital Loan Origination System</a>
                                            </div>
                                        </li>

                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Vivid&trade; Authoring Studio</h2>
                                                <p class="link-info">
                                                    Create robotic journeys across channels with visual designers.
                                                </p>
                                                <a href="vividflow-designer.shtml" class="link">Vivid&trade; Authoring Studio</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">David&trade; Decision Engine</h2>
                                                <p class="link-info">
                                                    Automating decisions involving complex calculations and rules.
                                                </p>
                                                <a href="david-decision.shtml" class="link">David&trade;  Decision Engine</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">ReGain&trade; Win-back Modeler</h2>
                                                <p class="link-info">
                                                    Create and deploy strategies to maximize conversions.
                                                </p>
                                                <a href="regain-winback-modeler.shtml" class="link">ReGain&trade;  Win-back Modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Virtual Assistance Management</h2>
                                                <p class="link-info">
                                                    Artificial Intelligence to deliver faster customer service
                                                </p>
                                                <a href="virtual-assistant.shtml" class="link">Virtual Assistance Management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Eco-system Connectors</h2>
                                                <p class="link-info">
                                                    End-to-end customer journeys by integrating with ready connectors
                                                </p>
                                                <a href="ecosystem.shtml" class="link">Digital Eco-system Connectors</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Master data management</h2>
                                                <p class="link-info">
                                                    Manage all data required for fulfilment on a single platform
                                                </p>
                                                <a href="master-data-management.shtml" class="link">Master data management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Offer management</h2>
                                                <p class="link-info">
                                                    Create personalized offers with high conversion rates
                                                </p>
                                                <a href="trinity-cross-sell-modeler.shtml" class="link">Digital Offer management</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="link">learning center</a>
                                <div class="menu-link-wrap">
                                    <ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Catalyst performance modeler</h2>
                                                <p class="link-info">
                                                    Algorithm-based planning. Real-time tracking. Predictive achievement.
                                                </p>
                                                <a href="catalyst-performance-modeler.shtml" class="link">Catalyst performance modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Trinity cross sell modeler</h2>
                                                <p class="link-info">
                                                    Offer customers what they cannot refuse.
                                                </p>
                                                <a href="trinity-cross-sell-modeler.shtml" class="link">Trinity cross sell modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Autoflow Designer</h2>
                                                <p class="link-info">
                                                    Simplify complex workflows with powerful business rules.
                                                </p>
                                                <a href="autoflow-designer.shtml" class="link">Autoflow Designer</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Autonoma Integration Designer</h2>
                                                <p class="link-info">
                                                    Pattern based. Visual designers. Zero coding.
                                                </p>
                                                <a href="autonoma-integration-designer.shtml" class="link">Autonoma Integration Designer</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Mashup Anywhere</h2>
                                                <p class="link-info">
                                                    Fetch External Data. Real Time Integration. Multiple Display Format.
                                                </p>
                                                <a href="mashup-anywhere.shtml" class="link">Mashup Anywhere</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Screenflow Designer</h2>
                                                <p class="link-info">
                                                    Create intuitive, integrated and guided process journeys.
                                                </p>
                                                <a href="screenflow-designer.shtml" class="link">Screenflow Designer</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">vivid authoring studio</h2>
                                                <p class="link-info">
                                                    Create omni-channel robotic journeys with visual designers.
                                                </p>
                                                <a href="vividflow-designer.shtml" class="link">vivid authoring studio</a>
                                            </div>
                                        </li>
                                        <!--<li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">vivid authoring studio</h2>
                                                <p class="link-info">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                </p>
                                                <a href="#" class="link">vivid authoring studio</a>
                                            </div>
                                        </li>-->
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a class="main-link">services</a>
                    <div class="sub-menu-wrap left-nav-active">
                        <ul class="sub-menu">
                            <li class="item active">
                                <a href="#" target="_blank" class="link">training and support</a>
                                <div class="menu-link-wrap">
                                    <!--<ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">overview</h2>
                                                <p class="link-info">
                                                    Starring the world's most powerful CRM.
                                                </p>
                                                <a href="overview-re-think-crm.shtml" class="link">overview</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Sales</h2>
                                                <p class="link-info">
                                                    Simplify selling powered by quality leads and shorter sales cycles.
                                                </p>
                                                <a href="sales.shtml" class="link">Sales</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Service</h2>
                                                <p class="link-info">
                                                    Respond faster with accurate solutions to customer problems.
                                                </p>
                                                <a href="services.shtml" class="link">Service</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Cross-sell</h2>
                                                <p class="link-info">
                                                    Personalized offers that guarantee high conversions.
                                                </p>
                                                <a href="cross-sell.shtml" class="link">Cross-sell</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Marketing</h2>
                                                <p class="link-info">
                                                    Smarter campaigns that increase engagement to drive responses.
                                                </p>
                                                <a href="marketing.shtml" class="link">Marketing</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Process management</h2>
                                                <p class="link-info">
                                                    Own and organize your processes
                                                </p>
                                                <a href="process-management.shtml" class="link">Process management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Analytics</h2>
                                                <p class="link-info">
                                                    Algorithmic intelligence for actionable insights.
                                                </p>
                                                <a href="analytics.shtml" class="link">Analytics</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Integration</h2>
                                                <p class="link-info">
                                                    Enjoy real time integrations through zero coding with visual designers.
                                                </p>
                                                <a href="integration.shtml" class="link">Integration</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Social</h2>
                                                <p class="link-info">
                                                    Track and convert social feeds into leads, customer solutions etc.
                                                </p>
                                                <a href="social.shtml" class="link">Social</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Collaboration</h2>
                                                <p class="link-info">
                                                    Conversationally drive teamwork for impactful results.
                                                </p>
                                                <a href="collaboration.shtml" class="link">Collaboration</a>
                                            </div>
                                        </li>
                                    </ul>-->
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="link">implementation and consulting</a>
                                <div class="menu-link-wrap">
                                    <ul class="row">
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">overview</h2>
                                                <p class="link-info">
                                                    Starring the world's most powerful Digital Platform.</p>
                                                <a href="overview-re-think-digital.shtml" class="link">overview</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Loan Origination System</h2>
                                                <p class="link-info">
                                                    Robotic los journeys with instant approvals
                                                </p>
                                                <a href="loan-origination-system.shtml" class="link">Digital Loan Origination System</a>
                                            </div>
                                        </li>

                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Vivid&trade; Authoring Studio</h2>
                                                <p class="link-info">
                                                    Create robotic journeys across channels with visual designers.
                                                </p>
                                                <a href="vividflow-designer.shtml" class="link">Vivid&trade; Authoring Studio</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">David&trade; Decision Engine</h2>
                                                <p class="link-info">
                                                    Automating decisions involving complex calculations and rules.
                                                </p>
                                                <a href="david-decision.shtml" class="link">David&trade;  Decision Engine</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">ReGain&trade; Win-back Modeler</h2>
                                                <p class="link-info">
                                                    Create and deploy strategies to maximize conversions.
                                                </p>
                                                <a href="regain-winback-modeler.shtml" class="link">ReGain&trade;  Win-back Modeler</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Virtual Assistance Management</h2>
                                                <p class="link-info">
                                                    Artificial Intelligence to deliver faster customer service
                                                </p>
                                                <a href="virtual-assistant.shtml" class="link">Virtual Assistance Management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Eco-system Connectors</h2>
                                                <p class="link-info">
                                                    End-to-end customer journeys by integrating with ready connectors
                                                </p>
                                                <a href="ecosystem.shtml" class="link">Digital Eco-system Connectors</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Master data management</h2>
                                                <p class="link-info">
                                                    Manage all data required for fulfilment on a single platform
                                                </p>
                                                <a href="master-data-management.shtml" class="link">Master data management</a>
                                            </div>
                                        </li>
                                        <li class="item col-md-3">
                                            <div class="link-box">
                                                <h2 class="link-title">Digital Offer management</h2>
                                                <p class="link-info">
                                                    Create personalized offers with high conversion rates
                                                </p>
                                                <a href="trinity-cross-sell-modeler.shtml" class="link">Digital Offer management</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--<li class="item">
                    <a class="main-link" href="http://crmsolutions.crmnext.com/" target="_blank">blog</a>
                </li>-->
                <li class="item">
                    <a class="main-link" href="about-us.shtml">about us</a>
                </li>
                <li class="item">
                    <a class="main-link last" href="contact-us.shtml">contact us</a>
                </li>
                <li class="item cm-visible-sm">
                    <a class="main-link" href="https://app.crmnext.com/sn/app/login/login">login</a>
                </li>
            </ul>
        </nav>


    </div>
</header>