<div class="lyt-no-banner typ-press-inner">
    <div class="cm-bg typ-texture abstract typ-green pos-top-bottom">
        <div class="container">
            <div class="lyt-col2 single typ-sales">
                <div class="head-wrapper">
                    <h2 class="title typ-sm">CRMNEXT Featured as Visionary in 2016 Gartner Magic Quadrant for Sales Force Automation</h2>
                </div>
                <section>
                    <div class="bs-sec typ-shadow">
                        <div class="lyt-head-sec typ-single">
                            <div class="mod-head-sec">
                                <div class="sec-desc">
                                    <p>MUMBAI - May 17, 2017:CRMNEXT, the largest provider of CRM in financial services globally has been declared as a clear winner of the IBS Sales League Table for CRM Systems. As per IBS Intelligence Sales League table,
                                        CRMNEXT was the #1 selling banking CRM solution in 2017. CRMNEXT’s concentrated focus on the Asia Pacific, South East Asia, Middle East, Africa and regions enabled the company wins notable deals and contracts in
                                        the geography. (Source: IBS Journal April 2017)
                                    </p>
                                    <p>CRMNEXT’s Banking Edition helps banks and financial institutions transform from being ‘product’ centric to becoming a ‘customer’ centric institution. With effective solutions to deliver differentiated customer experience
                                        and boost customer loyalty, banks and financial institutions can boost revenues by streamlining its processes on a powerful integrated platform. The platform can help financial services companies to drive its digital
                                        strategy on a powerful platform with robotic automation and codeless configuration capability giving it the agility and intelligence demanded by the rapidly changing business dynamics and customer behaviours.</p>
                                    <div class="mod-subsection">
                                        <h3 class="title">Realization</h3>
                                        <div class="desc">
                                            <p>Based on the organization’s size and product lines, different service teams are set up to fulfil their customer commitments. They are responsible for providing resolutions to customer requests and complaints.
                                                This stage can be divided into servicing and developing profitable habits to increase the organization’s bottom line.</p>
                                            <div class="mod-usp">
                                                <ul class="usp-data-wrap">
                                                    <li class="data"><span class="dark">Servicing:</span> Processes are framed and a ticket management system is set-up to record requests and complaints. The service teams coordinate with other departments to provide solutions
                                                        to customers.
                                                        <ul class="sub-usp">
                                                            <li class="data"><span class="dark">In sync:</span> A single person, usually the sales manager, is entrusted with the responsibility of tracking status of prospects and providing updates to the management.</li>
                                                            <li class="data"><span class="dark">Information access availability:</span> All departments are accountable and are responsible to provide updates on the prospects they are working.</li>
                                                        </ul>
                                                    </li>
                                                    <li class="data"><span class="dark">Developing profitable habits:</span> The service teams should also work with the organization's vision to increase the profit margin by reducing operating costs. This can be achieved
                                                        by educating customers about the different channels for services offered by the organization and requesting them to use the most relevant one each time.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>