<div class="modal fade customer-video-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mod-video"></div>
            </div>
        </div>
    </div>
</div>