<div id="paymentSuccessfull" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="mod-message">
                    <div class="icon-wrap">
                        <span class="cm-icon-bg icon-skip"></span>
                    </div>
                    <div class="message-cont">
                        <h2 class="title">almost done!</h2>
                        <p class="descp">You’re 1-step away from going live</p>
                    </div>
                </div>
                <div class="mod-act-wrap">
                    <h2 class="title">Verify your account now</h2>
                    <h3 class="sub-title">We’ve sent a verification email to <span class="cm-font1-medium">waren@gmail.com</span></h3>
                    <strong class="query">Can’t find this mail? </strong>
                    <a href="#" class="btn btn-resend">resend</a>
                </div>
                <a href="#" class="close" data-dismiss="modal"><span class="cm-icon icon-times"></span></a>
            </div>
        </div>

    </div>
</div>