<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="lyt-login">
                    <div class="mod-login">
                        <h2 class="title cm-border-bottom">To proceed to checkout you must be logged in</h2>
                        <div class="login-cont">
                            <div class="social-connect">
                                <div class=" pull-left">
                                    <a href="#" class="btn btn-icon type-fb "><span class="cm-icon icon-fb"></span>via <span class="cm-font1-semi-bold">FaceBook</span></a>
                                </div>
                                <div class=" pull-right">
                                    <a href="#" class="btn btn-icon type-google "><span class="cm-icon icon-google"></span>via <span class="cm-font1-semi-bold">Google +</span></a>
                                </div>
                            </div>
                            <span class="cm-or">or</span>
                            <form>
                                <h3 class="form-title">You’re an existing user please enter your password to continue</h3>
                                <div class="input-group">
                                    <input type="text" class="form-control cm-font1-semi-bold" placeholder="Username">
                                    <span class="input-group-addon">
                                    <span class="cm-icon icon-check"></span>
                                    </span>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control cm-font1-semi-bold" placeholder="Password">
                                    <span class="input-group-btn">
                                    <button class="btn btn-link type-decoration cm-font1-semi-bold" type="button">Forgot?</button>
                                </span>
                                </div>
                                <div class="act-btn">
                                    <a href="#" class="btn">login</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>