<div id="skipMicroWebsite" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="mod-message">
                    <div class="icon-wrap">
                        <span class="cm-icon-bg icon-skip"></span>
                    </div>
                    <div class="message-cont">
                        <h2 class="title">skip micro website</h2>
                        <p class="descp">If you skip, you will lose all your data you have entered so far.</p>
                    </div>
                </div>
                <div class="mod-act-wrap">
                    <strong class="query">Do you wish to continue?</strong>
                </div>

                <div class="act-btn">
                    <a href="#" class="btn">skip now</a>
                    <a href="#" class="btn">no take me back</a>
                </div>
                <a href="#" class="close" data-dismiss="modal"><span class="cm-icon icon-times"></span></a>
            </div>
        </div>

    </div>
</div>