<div id="configureRedirect" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="mod-message">
                    <div class="icon-wrap">
                        <span class="cm-icon icon-switch"></span>
                    </div>
                    <div class="message-cont">
                        <h2 class="title">configure redirect</h2>
                        <p class="descp">If you configure redirect, your Micro Website will go offline.</p>
                    </div>
                </div>
                <div class="mod-act-wrap">
                    <strong class="query">Do you wish to continue?</strong>
                </div>

                <div class="act-btn">
                    <a href="#" class="btn">No, don't configure</a>
                    <a href="#" class="btn">Yes, continue</a>
                </div>
                <a href="#" class="close" data-dismiss="modal"><span class="cm-icon icon-times"></span></a>
            </div>
        </div>

    </div>
</div>