/* Variables.scss */

$clr-root: #ffffff;
$clr-base: #262626;
$clr-default: #0cada1;
$clr-primary: #f0f1f1;
$clr-link: #737373;

/* font Variables */

$fnt-bold: 'proxima_nova_rgbold';
$fnt-xbold: 'proxima_novaextrabold';
$fnt-regular: 'proxima_nova_rgregular';
$fnt-light: 'proxima_novalight';
$fnt-smbold: 'proxima_novasemibold';

/* breakpoints */

$mobile-breakpoint: 1025px;
$mobile-xs-breakpoint: 768px; //n-21-6-17
