//tpl-detail
.tpl-detail {
    .bs-banner {
        height: 420px;
        &.typ-customers {
            height: 465px;
        }
        &.typ-aboutus {
            height: 360px;
        }
        &.typ-events {
            height: 465px;
        }
    }
    .bs-sec {
        &.typ-head-sec {
            padding-top: 20px;
        }
    }
    p {
        a {
            color: $clr-base;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .tpl-detail {
        .bs-banner {
            height: auto;
            &.typ-aboutus {
                height: auto;
            }
        }
    }
}

// n-21-6-17
@media only screen and (max-width: $mobile-xs-breakpoint) {
    .tpl-detail {
        .bs-banner {
            height: auto;
            &.typ-sales {
                background-position: right 0;
                &.typ-crm-dlos {
                    background-position: bottom right;
                }
            }
            &.typ-industries {
                height: 250px;
                background-position: 97% 7%; // n-21-6-17
            }
            &.typ-customers {
                height: auto;
                .mod-banner {
                    margin: 0;
                    .banner-title {
                        width: 100%;
                    }
                }
                .cust-img-wrap {
                    margin: 0px auto 0;
                }
            }
            &.typ-events {
                height: auto;
                .mod-banner {
                    margin: 0;
                    .banner-title {
                        width: 100%;
                    }
                }
                .img-wrap {
                    margin: 0px auto 0;
                }
            }
        }
        .bs-sec {
            &.typ-head-sec {
                &.sticky {
                    padding-top: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .tpl-detail {
        .bs-banner {
            height: 320px;
            &.typ-marketing {
                background-position: right bottom;
            }
            &.typ-aboutus {
                height: 300px;
            }
        }
    }
}