.bs-calender {
    display: inline-block;
    .icon-calendar {
        display: block;
        font-size: 40px;
        float: left;
        margin-right: 15px;
    }
    .cal-info {
        display: inline-block;
        float: left;
        .date {
            font-size: 24px;
            color: $clr-base;
            display: block;
            line-height: 28px;
        }
        .time {
            font-size: 16px;
            color: $clr-base;
            opacity: 0.7;
            display: block;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-calender {
        .icon-calendar {
            font-size: 30px;
            margin-right: 10px;
        }
        .cal-info {
            .date {
                font-size: 18px;
                line-height: 20px;
            }
            .time {
                font-size: 14px;
            }
        }
    }
}