/* bs-info-box.scss */

.bs-info-box {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    margin: 15px auto;
    .info-wrap {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        z-index: 2;
        padding: 25px;
        transition-duration: 1s;
        color: #ffffff;
        line-height: 120%;
        left: 0;
        right: 0;
        .info-title {
            font-size: 16px;
            line-height: 18px;
            font-family: "proxima_nova_rgbold";
            text-transform: uppercase;
            margin-right: 30%;
            sup {
                font-size: 70%;
            }
        }
        .info-desc {
            opacity: 0;
            height: 1px;
            margin-right: 10%;
            margin-top: 1px;
            transition-duration: 1s;
            p {
                font-size: 16px;
                line-height: 18px;
                color: rgba(255, 255, 255, .6)
            }
            ul {
                li {
                    position: relative;
                    padding-left: 15px;
                    font-size: 14px;
                    margin-bottom: 3px;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        left: 0;
                        top: 5px;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, .6);
                    }
                }
            }
        }
    }
    .img-wrap {
        overflow: hidden;
        height: 260px; // n-23-6-17
        img {
            width: 100%;
            float: left;
        }
    }
    &:after {
        content: "";
        background: url(../images/overlay.jpg);
        position: absolute;
        background-size: cover;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        opacity: .5;
        transition-duration: 1s;
    }
    .info-link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 4;
        text-indent: -9999px;
        &:before {
            content: "\69";
            font-family: "crm" !important;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: rgba(255, 255, 255, .2);
            color: #ffffff;
            position: absolute;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
            font-weight: 100;
            z-index: 3;
            opacity: 0;
            right: 30px;
            text-indent: initial;
            bottom: 10px;
            transition-duration: 1s;
        }
        &:hover {
            &:before {
                opacity: .5;
                right: 10px;
            }
        }
    }
    &:hover {
        &:after {
            opacity: 1;
        }
        .info-wrap {
            top: 0%;
            transform: translateY(0%);
            .info-desc {
                opacity: 1;
                margin-top: 15px;
                height: auto;
            }
        }
    }
    &.typ-awards {
        box-shadow: 0px 0px 2px #ddd;
        .img-wrap {
            height: 207px;
        }
        &:after {
            opacity: 0;
        }
        .info-wrap {
            opacity: 0;
        }
        &:hover {
            &:after {
                // opacity: 1;
            }
            .info-wrap {
                // opacity: 1;
            }
        }
    }
    &.typ-customer {
        box-shadow: 2px 2px 1px #ddd;
        .cust-logo {
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 3;
            top: 5%;
            filter: contrast(0) brightness(100);
            margin-left: 15px;
            width: 120px;
            img {
                width: 100%;
            }
        }
        .info-wrap {
            background-color: $clr-root;
            padding: 15px;
            transition: none;
            z-index: 3;
            .info-title {
                color: $clr-base;
                margin-bottom: 10px;
                margin-right: 0px;
            }
            .info-desc {
                height: 25px;
                margin-right: 10%;
                opacity: 1;
                p {
                    color: $clr-link;
                    font-size: 11px;
                }
            }
        }
        .info-link {
            &:hover {
                &:before {
                    opacity: 1;
                    right: 15px;
                }
            }
        }
        &:hover {
            .cust-logo {
                opacity: 1;
            }
            .info-wrap {
                top: 25%;
                transform: translateY(0%);
                background-color: rgba(0, 0, 0, 0);
                transition: all 1s ease, background-color 1ms;
                .info-title {
                    color: $clr-root;
                }
                .info-desc {
                    p {
                        color: $clr-root;
                        font-size: 16px;
                    }
                }
            }
            &:after {
                content: " ";
                background: url("../images/overlay.jpg");
                background-size: cover;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        &:after {
            content: none;
        }
    }
    &.typ-speakers {
        min-height: 350px;
        background-color: $clr-root;
        box-shadow: 1px 1px 2px #ddd;
        .info-wrap {
            position: static;
            transform: none;
            background-color: $clr-root;
            color: $clr-base;
            padding: 10px;
            padding-top: 15px;
            .info-title {
                margin-right: 0px;
                margin-bottom: 15px;
            }
            .info-desc {
                height: auto;
                margin-right: 0px;
                opacity: 1;
                p {
                    color: $clr-base;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        .img-wrap {
            height: auto;
            width: 100%;
        }
        &:after {
            content: none;
        }
        .info-link {
            left: 10px;
            bottom: 20px;
            top: auto;
            right: auto;
            color: $clr-default;
            text-indent: 0;
            font-family: $fnt-smbold;
            &:before {
                content: none;
            }
        }
        &:hover {
            transition: none;
            .info-wrap {
                top: auto;
                transform: none;
                .info-desc {
                    opacity: 1;
                    height: auto;
                }
            }
        }
    }
    &.typ-partner {
        // min-height: 450px;
        // box-shadow: 1px 1px 2px #ddd;
        background-color: $clr-root;
        margin: 0px;
        cursor: auto;
        position: static;
        .info-wrap {
            position: static;
            transform: none;
            background-color: $clr-root;
            color: $clr-base;
            padding: 15px 10px 30px;
            .info-title {
                margin-right: 0px;
                margin-bottom: 15px;
            }
            .info-desc {
                height: auto;
                margin-right: 0px;
                opacity: 1;
                p {
                    color: $clr-base;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        .img-wrap {
            height: auto;
            width: 100%;
        }
        &:after {
            content: none;
        }
        .info-link {
            left: 10px;
            bottom: 20px;
            top: auto;
            right: auto;
            color: $clr-default;
            text-indent: 0;
            font-family: $fnt-smbold;
            &:before {
                content: none;
            }
        }
        &:hover {
            transition: none;
            .info-wrap {
                top: auto;
                transform: none;
                .info-desc {
                    opacity: 1;
                    height: auto;
                }
            }
        }
        &.typ-inner {
            // box-shadow: 1px 1px 2px #ddd, inset 1px 0px 1px #ddd;
            position: static;
            // min-height: 480px;
            .img-wrap {
                text-align: center;
                background-color: #efefef;
                img {
                    width: 75%;
                    display: inline-block;
                    float: none;
                }
            }
            .info-wrap {
                // box-shadow: inset 1px 1px 2px #ddd;
            }
        }
    }
    &.typ-events {
        box-shadow: 2px 2px 1px #ddd;
        .cust-logo {
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 3;
            top: 5%;
            filter: contrast(0) brightness(100);
            margin-left: 15px;
            width: 120px;
            img {
                width: 100%;
            }
        }
        .info-wrap {
            background-color: transparent;
            padding: 48px 15px 15px;
            transform: translateY(-68%);
            transition: none;
            z-index: 3;
            .info-title {
                color: $clr-root;
                margin-bottom: 10px;
                margin-right: 0px;
                text-transform: capitalize;
                font-size: 21px;
            }
            .info-desc {
                height: 25px;
                margin-right: 10%;
                opacity: 1;
                p {
                    color: $clr-link;
                    font-size: 11px;
                }
            }
            .date-wrap {
                position: absolute;
                padding: 0px 15px;
                top: 0;
                left: 0;
                right: 0;
                color: #000;
                .day {
                    display: inline-block;
                    color: $clr-root;
                    font-size: 48px;
                    font-family: $fnt-xbold;
                    float: left;
                    margin-right: 5px;
                    line-height: 38px;
                }
                .sub-date {
                    display: inline-block;
                    float: left;
                    font-size: 22px;
                    color: $clr-root;
                    font-family: $fnt-xbold;
                }
            }
        }
        .info-link {
            &:hover {
                &:before {
                    opacity: 1;
                    right: 15px;
                }
            }
        }
        .img-wrap {
            img {
                height: 260px;
            }
        }
        .box-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            background: #fac164;
            opacity: 0.5;
        }
        &:hover {
            .cust-logo {
                opacity: 1;
            }
            .info-wrap {
                top: 6%;
                transform: translateY(0%);
                background-color: rgba(0, 0, 0, 0);
                transition: all 1s ease, background-color 1ms;
                .info-title {
                    color: $clr-root;
                }
                .info-desc {
                    p {
                        color: $clr-root;
                        font-size: 16px;
                    }
                }
            }
            &:after {
                content: " ";
                background: url("../images/overlay.jpg");
                background-size: cover;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        &:after {
            content: none;
        }
    }
    &.typ-learning {
        box-shadow: 2px 2px 1px #ddd;
        .info-wrap {
            background-color: $clr-root;
            padding: 15px;
            z-index: 3;
            transition: none;
            .info-title {
                color: $clr-base;
                margin-bottom: 10px;
                margin-right: 0px;
            }
            .info-desc {
                height: 25px;
                margin-right: 10%;
                opacity: 1;
                p {
                    color: $clr-link;
                    font-size: 11px;
                }
            }
        }
        .info-link {
            &:hover {
                &:before {
                    opacity: 1;
                    right: 15px;
                }
            }
        }
        &:hover {
            .cust-logo {
                opacity: 1;
            }
            .info-wrap {
                transition: all 1s ease, background-color 1ms;
                // top: 25%;
                // transform: translateY(0%);
                background-color: rgba(0, 0, 0, 0);
                .info-title {
                    color: $clr-root;
                }
                .info-desc {
                    p {
                        color: $clr-root;
                        font-size: 16px;
                    }
                }
            }
            &:after {
                content: " ";
                background: url("../images/overlay.jpg");
                background-size: cover;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        &:after {
            content: none;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-info-box {
        .info-wrap {
            padding: 10px;
            font-size: 14px;
            .info-title {
                font-size: 14px;
                line-height: 16px;
            }
            .info-desc {
                opacity: 0;
            }
        }
        .info-link {
            &:hover {
                &:before {
                    opacity: 0;
                }
            }
        }
        &:hover {
            .info-wrap {
                top: 100%;
                transform: translateY(-100%);
                .info-title {
                    font-size: 14px;
                    line-height: 16px;
                }
                .info-desc {
                    opacity: 0;
                    height: 1px;
                    margin-top: 1px;
                }
            }
            &:after {
                opacity: 0.7;
            }
        }
        &:after {
            opacity: 0.7;
        }
        &.typ-customer {
            .info-wrap {
                width: 100%;
                .info-desc {
                    // n-23-6-17
                    height: auto;
                    // height: 15px;
                    p {
                        // n-23-6-17
                        // text-overflow: ellipsis;
                        // white-space: nowrap;
                        // overflow: hidden;
                    }
                }
            }
            .info-link {
                &:hover {
                    &:before {
                        opacity: 0;
                    }
                }
            }
            &:hover {
                .cust-logo {
                    opacity: 0;
                }
                .info-wrap {
                    background-color: $clr-root;
                    padding: 15px;
                    transition: none;
                    z-index: 3;
                    transform: translateY(-100%);
                    top: 100%;
                    .info-title {
                        color: $clr-base;
                        margin-bottom: 10px;
                        margin-right: 0px;
                    }
                    .info-desc {
                        // height: 25px; // n-23-6-17
                        margin-right: 10%;
                        opacity: 1;
                        p {
                            color: $clr-link;
                            font-size: 11px;
                        }
                    }
                }
                &:after {
                    content: none;
                }
            }
        }
        &.typ-learning {
            .info-wrap {
                width: 100%;
                .info-desc {
                    height: 15px;
                    p {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
            &:hover {
                .info-wrap {
                    background-color: $clr-root;
                    padding: 15px;
                    z-index: 3;
                    transition: none;
                    top: 100%;
                    transform: translateY(-100%);
                    .info-title {
                        color: $clr-base;
                        margin-bottom: 10px;
                        margin-right: 0px;
                    }
                    .info-desc {
                        height: 25px;
                        margin-right: 10%;
                        opacity: 1;
                        p {
                            color: $clr-link;
                            font-size: 11px;
                        }
                    }
                }
            }
            .info-link {
                &:hover {
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
        &.typ-awards {
            .img-wrap {
                height: auto;
            }
            &:hover {
                &:after {
                    opacity: 0;
                }
                .info-wrap {
                    opacity: 0;
                }
            }
        }
        &.typ-events {
            .info-wrap {
                .info-desc {
                    opacity: 0;
                }
            }
            &:hover {
                .info-wrap {
                    top: 100%;
                    transform: translateY(-68%);
                    transition: none;
                    .info-title {
                        font-size: 21px;
                    }
                    .info-desc {
                        height: 25px;
                    }
                }
                &:after {
                    content: none;
                }
            }
            .info-link {
                &:hover {
                    &:before {
                        opacity: 0;
                        right: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .bs-info-box {
        .img-wrap {
            height: auto;
        }
        &.typ-customer {
            min-height: 240px;
            .info-wrap {
                padding: 10px 15px;
            }
        }
        &.typ-partner {
            .info-wrap {
                padding: 10px 10px 40px;
            }
        }
        &.typ-speakers {
            width: 75%;
            .img-wrap {
                img {
                    width: 100%;
                }
            }
        }
    }
}