/* bs-forms.scss */

.bs-forms {
    .form-group {
        position: relative;
        margin-bottom: 30px;
        &.active {
            .control-label {
                top: -25px;
            }
        }
    }
    .form-control {
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: solid 1px rgba(255, 255, 255, .3);
        box-shadow: none;
        color: $clr-root;
        font-size: 14px;
    }
    .control-label {
        position: absolute;
        padding: 10px;
        top: 0px;
        display: block;
        z-index: 1;
        font-size: 14px;
        color: rgba(255, 255, 255, .5);
        transition-duration: .5s;
    }
    &.typ-dark {
        .form-control {
            border-bottom: solid 1px rgba(0, 0, 0, .1);
           
            color: $clr-base;
        }
        .control-label {
            color: rgba(0, 0, 0, .4);
            font-family: $fnt-xbold;
        }
        .btn-default {
            color: $clr-base;
        }
        .form-group {
            &.drp-dwn {
                .form-control {
                    color: rgba(0, 0, 0, 0.4);
                    font-family: $fnt-xbold;
                    position: relative;
                    z-index:1;
                }
            }
        }
    }
    &.typ2 {
        margin: 0 20px;
        .form-group {
            position: relative;
            margin-bottom: 0;
            .form-control {
                text-align: center;
                color: #000000;
                border-bottom: 1px solid #555;
            }
            &:before {
                position: absolute;
                content: "\64";
                position: absolute;
                font-family: "crm" !important;
                right: 9px;
                top: 12px;
                display: inline-block;
                color: #555;
                z-index: -1;
            }
        }
    }
    &.typ-home {
        .form-control {
            color: rgba(255, 255, 255, 0.5);
            option {
                color: $clr-base;
            }
        }
    }
}