/* bs-leaders.scss */

.bs-leaders {
    display: block;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
    .leader {
        padding: 15px 0px;
        width: 20%;
        float: left;
        text-align: center;
        .leader-link {
            filter: grayscale(100%);
            opacity: .5;
            transition-duration: .5s;
            display: block;
            text-align: center;
            &:hover {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
    &.type-bright {
        .leader {
            .leader-link {
                opacity: 1;
                filter: contrast(0) brightness(100);
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-leaders {
        .leader {
            width: 50%;
            .leader-link {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
}