    /* bs-social-connect.scss */
    
    .bs-social-connect {
        display: inline-block;
        .social-link {
            display: inline-block;
            .btn {
                padding: 6px 8px;
                font-size: 20px;
                &:hover {
                    color: $clr-default;
                }
            }
        }
    }

    @media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint){
        .bs-social-connect{
            .social-link{
                .btn{
                    padding: 10px 15px;
                    font-size: 25px;
                }
            }
        }  
    }