// bs-footer
.bs-footer {
    background: $clr-base;
    padding: 50px 60px 30px;
    .title {
        font-size: 12px;
        line-height: 14px;
        color: $clr-default;
        margin-bottom: 15px;
        display: block;
        text-transform: uppercase;
        font-family: $fnt-bold;
        letter-spacing: 1px;
    }
    .footer-nav-list {
        margin-bottom: 30px;
        .nav-item {
            margin-bottom: 10px;
            a {
                font-size: 14px;
                line-height: 14px;
                color: #a8a8a8;
                &:hover {
                    color: $clr-default;
                }
            }
        }
        &.typ-horz {
            text-align: center;
            margin-top: 26px;
            .nav-item {
                display: inline-block;
                position: relative;
                padding: 0 10px;
                &:last-child {
                    &:after {
                        content: "";
                        background: transparent;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 3px;
                    bottom: 3px;
                    width: 1px;
                    background: $clr-root;
                    opacity: .6;
                    right: 0;
                }
            }
        }
    }
    .desc {
        font-size: 12px;
        line-height: 14px;
        color: #a8a8a8;
    }
    .brand {
        float: left;
        width: 60px;
        img {
            width: 100%;
        }
    }
    .copyright {
        font-size: 12px;
        line-height: 14px;
        color: #626262;
        margin-top: 22px;
        margin-left: 75px;
        display: block;
    }
    .bottom-bar {
        margin-top: 50px;
        display: block;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-footer {
        padding: 50px 20px 30px;
        .title {
            text-align: left;
        }
        .mod-newsletter {
            margin-bottom: 30px;
        }
        .bs-social-connect {
            text-align: left;
        }
        .text-right {
            text-align: left;
        }
        .bottom-bar {
            margin-top: 10px;
            .footer-nav-list {
                min-height: auto;
            }
        }
        .footer-nav-list {
            min-height: 250px;
            &.typ-horz {
                text-align: left;
                margin-left: -14px;
            }
        }
        .copyright {
            text-align: left;
            float: none;
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .bs-footer {
        .footer-nav-list {
            &.typ-horz {
                text-align: right;
                margin-left: 0;
            }
        }
    }
}