    /* Variables.scss */
    
    .bs-banner {
        height: calc(100vh - 100px);
        width: 100%;
        overflow: hidden;
        position: relative;
        .screen {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            background-size: cover;
            z-index: 1;
            &.bg-two {
                background: url(../images/banner_bg1.jpg) no-repeat center top;
                background-size: cover;
                background-attachment: fixed;
                opacity: 1;
            }
        }
        .btn-request-demo {
            display: none;
        }
        .swiper-container {
            width: 980px;
            overflow: hidden;
            margin: 0 auto;
        }
        &.typ-home {
            .ani-ele {
                .ele-lbl {
                    color: #fff;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-family: $fnt-xbold;
                }
                &.typ-circle {
                    &:before {
                        content: "";
                        width: 60px;
                        height: 60px;
                        background: #eaeaea;
                        border-radius: 50%;
                        position: absolute;
                        z-index: 1;
                    }
                    .ele-lbl {
                        white-space: nowrap;
                        margin: 16px 0 0 28px;
                        position: relative;
                        z-index: 2;
                        font-size: 25px;
                        &.typ-typo {
                            width: 200px;
                            .top {
                                position: absolute;
                                font-size: 15px;
                                top: -16px;
                                opacity: .7;
                            }
                            .bottom {
                                position: absolute;
                                font-size: 15px;
                                left: 0;
                                bottom: -15px;
                                opacity: .7;
                            }
                        }
                    }
                }
                &.wrap1 {
                    &:before {
                        background: #29a89a;
                    }
                    position: absolute;
                    left: 100px;
                    top: 15%;
                }
                &.wrap2 {
                    &:before {
                        background: #d3af64;
                    }
                    position: absolute;
                    right: 100px;
                    top: 15%;
                }
                &.wrap3 {
                    position: absolute;
                    left: 50%;
                    bottom: 15%;
                    transform: translateX(-50%);
                    text-align: center;
                }
                &.wrap4 {
                    &:before {
                        content: "\61";
                        font-family: "crm" !important;
                        text-transform: lowercase!important;
                        background: url(../images/circle_overlay.jpg) no-repeat center center;
                        text-align: center;
                        line-height: 115px;
                        font-size: 30px;
                        color: #fff;
                    }
                    left: 50%;
                    position: absolute;
                    margin-left: -56px;
                    top: 15%;
                    z-index: 4;
                    opacity: 0;
                    width: 115px;
                    height: 115px;
                    transform-origin: 50% 50%;
                }
                &.wrap5 {
                    opacity: 0;
                    text-align: center;
                    position: absolute;
                    bottom: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &.wrap6 {
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -38%);
                    text-align: center;
                }
                &.wrap7 {
                    position: relative;
                    left: 6%;
                    .ele-lbl {
                        font-size: 14px;
                    }
                }
                &.wrap8 {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    margin-left: -25%;
                    .ele-lbl {}
                    &:before {
                        background: #24a598;
                    }
                }
                &.wrap9 {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    margin-left: -100px;
                    .ele-lbl {}
                    &:before {
                        background: #65ab87;
                    }
                }
                &.wrap10 {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    margin-left: 10%;
                    .ele-lbl {}
                    &:before {
                        background: #d3b166;
                    }
                }
            }
        }
        &.typ-rethink {
            background: url('../images//banner/rethink_crm_banner.jpg') no-repeat 0 center #cccccc;
            background-size: cover;
            padding: 130px 0px 100px 80px;
        }
        &.typ-rethink-diginext {
            background: url('../images//banner/rethink_digital_banner.jpg') no-repeat 0 center #cccccc;
            background-size: cover;
            padding: 130px 0px 100px 80px;
        }
        &.typ-industries {
            padding: 130px 0px 100px 80px;
            background-position: right bottom;
            &.typ-corporate {
                background: url('../images/banner/corporate_banking.jpg') no-repeat right bottom;
                background-size: cover;
            }
            &.typ-retail {
                background: url('../images/banner/retail_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            &.typ-securities {
                background: url('../images/banner/securities_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            &.typ-wealth {
                background: url('../images/banner/wealth_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            &.insuarance {
                background: url('../images/banner/insurance_banner.jpg') no-repeat right center;
            }
            &.typ-media {
                background: url('../images/banner/media_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            &.typ-auto {
                background: url('../images/banner/automobile_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            &.typ-retail-fmcg {
                background: url('../images/banner/retail_industry_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            &.typ-pharma {
                background: url('../images/banner/pharma_banner.jpg') no-repeat right center;
                background-size: cover;
            }
            .mod-banner {
                .banner-title {
                    font-size: 40px;
                    line-height: 42px;
                    font-family: $fnt-regular;
                    margin-bottom: 0;
                }
                .banner-desc {
                    font-family: $fnt-xbold;
                    font-size: 62px;
                    line-height: 68px;
                    color: #262626;
                    margin-bottom: 20px;
                }
            }
        }
        &.typ-accelerators {
            padding: 85px 0px 100px 80px;
            &.catalyst {
                background: url('../images/banner/catalyst_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-trinity {
                background: url('../images/banner/trinity_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-auto-flow {
                background: url('../images/banner/autoflow_banner.jpg') no-repeat 0 transparent;
                background-size: cover;
            }
            &.typ-autonoma {
                background: url('../images/banner/autonoma_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-mashup-anywhere {
                background: url('../images/banner/mashup_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-screenflow_designer {
                background: url('../images/banner/screenflow_banner.jpg') no-repeat 0 transparent;
                background-size: cover;
            }
            &.typ-vividflow {
                background: url('../images/banner/vividflow_designer_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            .banner-title {
                margin-bottom: 20px;
                .trademark {
                    position: relative;
                    sup {
                        position: absolute;
                        top: -18px;
                        font-size: 18px;
                        font-family: "proxima_novasemibold";
                    }
                }
            }
            // .banner-subtitle {
            //     font-size: 18px;
            //     line-height: 20px;
            //     margin-bottom: 10px;
            // // }
            // .banner-desc {
            //     font-size: 16px;
            //     line-height: 18px;
            //     font-family: "proxima_nova_rgregular";
            // }
        }
        &.typ-sales {
            padding: 100px 0px 100px 80px;
            &.typ-crm-dlos {
                background: url(../images/banner/dlos_banner.jpg) no-repeat right 0 #cccccc;
                background-size: cover;
            }
            &.typ-crm-sales {
                background: url('../images/banner/sales-banner.jpg') no-repeat #cccccc;
                background-size: cover;
            }
            &.typ-services {
                background: url('../images/banner/services_banner.jpg') no-repeat 0 #cccccc;
                background-size: cover;
            }
            &.typ-analytics {
                background: url('../images/banner/analytics_banner.jpg')no-repeat right bottom #cccccc;
                background-size: cover;
            }
            &.typ-marketing {
                background: url('../images/banner/marketing_banner.jpg')no-repeat right bottom #cccccc;
                background-size: cover;
            }
            &.typ-process-management {
                background: url('../images/banner/process_management_banner.jpg')no-repeat 0 #cccccc;
                background-size: cover;
            }
            &.typ-collaboration {
                background: url('../images/banner/collaboration.jpg')no-repeat bottom right #cccccc;
                background-size: cover;
            }
        }
        &.typ-aboutus {
            // background: url('../images/aboutus-banner.jpg') no-repeat right bottom #cccccc;
            background-size: cover;
            padding: 100px 0px;
            .mod-banner {
                .banner-title {
                    text-transform: none;
                }
            }
        }
        &.typ-whoweare {
            background: url('../images/whoweare-banner.jpg') no-repeat right bottom #cccccc;
            background-size: cover;
            padding: 100px 0px 100px 80px;
            position: relative;
            .mod-banner {
                position: absolute;
                right: 200px;
            }
        }
        &.typ-rethink,
        &.typ-sales,
        &.typ-rethink-diginext,
        &.typ-aboutus {
            .cm-action-wrap {
                .btn {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
        &.typ-video {
            background: url('../images/customer-banner.png') no-repeat 0 0 transparent;
            background-size: cover;
            position: relative;
            .mod-banner {
                position: absolute;
                top: 50%;
                left: 100px;
                transform: translateY(-50%);
                .banner-title {
                    color: $clr-root;
                }
                .banner-desc {
                    width: 100%;
                    color: $clr-root;
                }
                .cm-action-wrap {
                    opacity: 0.7;
                }
            }
        }
        &.typ-customers {
            background: url('../images/customer-banner.jpg') no-repeat 0 0 transparent;
            background-size: cover;
            padding: 40px 0;
            .mod-banner {
                margin: 50px 0;
                .banner-title {
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: none;
                    width: 400px;
                }
                .banner-desc {
                    width: auto;
                    margin-bottom: 15px;
                    p {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .cm-action-wrap {
                    opacity: 0.7;
                }
            }
            .cust-img-wrap {
                display: inline-block;
                margin: 50px auto;
                position: relative;
                .cm-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &.typ-digi {
            height: 430px;
            &.typ-david-decision {
                background: url('../images/banner/david_decision_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-digital-offer {
                background: url("../images/banner/digital_offer_management_banner.jpg") no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-master-data {
                background: url("../images/banner/master_data_management_banner.jpg") no-repeat right center transparent;
                background-size: cover;
            }
            &.typ-regain-win {
                background: url('../images/banner/regain_winback_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            &.typ-virtual-assistant {
                background: url('../images/banner/virtual_assistance_banner.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            // &.typ-vividflow {
            //     background: url('../images/banner/vividflow_designer_banner.jpg') no-repeat right bottom transparent;
            //     background-size: cover;
            // }
            &.typ-ecosystem {
                background: url('../images/banner/ecosystem.jpg') no-repeat right bottom transparent;
                background-size: cover;
            }
            .mod-banner {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 75px;
                .banner-desc {
                    width: 900px;
                }
            }
        }
        &.typ-contactus {
            background: url('../images/contact-banner.jpg') no-repeat 0 0 transparent;
            background-size: cover;
            position: relative;
            height: auto;
            .form-wrap {
                // padding-top: 80px;
                padding-top: 25px;
                .form-group {
                    &.drp-dwn {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "\64";
                            position: absolute;
                            font-family: "crm" !important;
                            right: 5px;
                            top: 8px;
                            display: inline-block;
                            color: rgba(0, 0, 0, .4);
                        }
                    }
                    textarea {
                        // height: 34px;
                        resize: none;
                    }
                }
            }
            .mod-banner {
                // margin-bottom: 45px;
                margin-bottom: 25px;
            }
            .banner-title {
                margin-bottom: 0;
                line-height: 64px;
            }
            .banner-subtitle {
                font-size: 27px;
                line-height: 29px;
            }
        }
        &.typ-become-a-partner {
            height: auto;
            .form-wrap {
                // padding-top: 80px;
                padding-top: 25px;
                .form-group {
                    &.drp-dwn {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "\64";
                            position: absolute;
                            font-family: "crm" !important;
                            right: 5px;
                            top: 8px;
                            display: inline-block;
                            color: rgba(0, 0, 0, .4);
                        }
                    }
                    textarea {
                        // height: 34px;
                        resize: none;
                    }
                }
            }
            .mod-banner {
                // margin-bottom: 45px;
                margin-bottom: 25px;
            }
            .banner-title {
                margin-bottom: 0;
                line-height: 64px;
            }
            .banner-subtitle {
                font-size: 27px;
                line-height: 29px;
            }
        }
        &.typ-los {
            background: url('../images/los-banner.jpg') no-repeat 0 0 transparent;
            background-size: cover;
            position: relative;
            .mod-banner {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 80px;
                .banner-desc {
                    width: 700px;
                }
            }
        }
        &.typ-static {
            background-size: cover;
            position: relative;
            height: 280px;
            .mod-banner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                .banner-title {
                    text-transform: none;
                    line-height: 0px;
                }
            }
        }
        &.typ-events {
            background: url('../images/banner/events_banner.jpg') no-repeat 0 0 transparent;
            background-size: cover;
            padding: 40px 0px;
            .mod-banner {
                margin: 50px 0;
                .banner-title {
                    text-transform: uppercase;
                    font-size: 58px;
                }
                .banner-desc {
                    width: auto;
                    margin-bottom: 15px;
                    p {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .cm-action-wrap {
                    opacity: 0.7;
                }
            }
            .img-wrap {
                display: inline-block;
                margin: 50px auto;
                position: relative;
            }
        }
    }
    
    @media only screen and (max-width: $mobile-breakpoint) {
        .bs-banner {
            height: auto;
            &:after {
                content: "";
            }
            .btn-down-arr {
                display: none;
            }
            // .btn-request-demo {
            //     position: absolute;
            //     right: 20px;
            //     top: 20px;
            //     z-index: 5;
            //     display: none;
            // }
            .screen {
                &.bg-one {
                    background-attachment: initial;
                }
                &.bg-two {
                    background-attachment: initial;
                }
            }
            &.typ-home {
                height: 200px;
                .ani-ele {
                    .ele-lbl {
                        font-size: 35px;
                        &.text-senctence {
                            text-transform: none;
                        }
                    }
                    &.typ-circle {
                        &:before {
                            width: 60px;
                            height: 60px;
                        }
                        .ele-lbl {
                            margin: 14px 0 0 20px;
                            &.typ-typo {
                                width: 89px;
                                .top {
                                    position: absolute;
                                    font-size: 10px;
                                    top: -9px;
                                    opacity: .7;
                                }
                                .bottom {
                                    position: absolute;
                                    font-size: 10px;
                                    right: 0;
                                    bottom: -8px;
                                    opacity: .7;
                                }
                            }
                        }
                    }
                    &.wrap1 {
                        left: 5px;
                    }
                    &.wrap2 {
                        right: 5px;
                    }
                    &.wrap4 {
                        &:before {
                            content: "\61";
                            font-family: "crm" !important;
                            text-transform: lowercase!important;
                            background: url(../images/circle_overlay.jpg) no-repeat center center;
                            text-align: center;
                            line-height: 60px;
                            font-size: 32px;
                            color: #fff;
                        }
                        left: 50%;
                        position: absolute;
                        margin-left: -23px;
                        top: 15%;
                        z-index: 4;
                        opacity: 0;
                        width: 45px;
                        height: 45px;
                        transform-origin: 50% 50%;
                    }
                    &.wrap6 {
                        top: 15%;
                        margin-top: 12px;
                        text-align: left;
                        left: 4%;
                        transform: none;
                    }
                    &.wrap7 {
                        left: 4%;
                        .ele-lbl {
                            font-size: 12px;
                        }
                    }
                    &.wrap8 {
                        position: absolute;
                        bottom: 78px;
                        left: 50%;
                        margin-left: -45%;
                        top: auto;
                    }
                    &.wrap9 {
                        position: absolute;
                        bottom: 78px;
                        left: 50%;
                        margin-left: 0px;
                        top: auto;
                    }
                    &.wrap10 {
                        position: absolute;
                        bottom: 25px;
                        left: 20px;
                        margin-left: 0;
                        top: auto;
                    }
                }
            }
            &.typ-industries {
                background-position: right bottom;
                padding: 30px 15px 15px 15px;
                .mod-banner {
                    .banner-title {
                        font-size: 20px;
                        line-height: 22px;
                        margin-bottom: 10px;
                        .cm-line-break {
                            display: inline-block;
                        }
                    }
                    .banner-desc {
                        font-size: 25px;
                        line-height: 27px;
                        margin-bottom: 0px;
                        width: auto;
                    }
                }
                &.typ-corporate {
                    background: url('../images/banner/mobile/corporate_banking.jpg') no-repeat;
                    background-size: cover;
                }
                &.typ-retail {
                    background: url('../images/banner/mobile/retail_banner.jpg') no-repeat;
                    background-size: cover;
                }
                &.typ-securities {
                    background: url('../images/banner/mobile/securities_banner.jpg') no-repeat;
                    background-size: cover;
                }
                &.typ-wealth {
                    background: url('../images/banner/mobile/wealth_banner.jpg') no-repeat;
                    background-size: cover;
                }
                &.insuarance {
                    background: url('../images/banner/mobile/insurance_banner.jpg') no-repeat;
                    background-size: cover;
                }
            }
            &.typ-rethink {
                background: url('../images/banner/mobile/rethink_crm_banner.jpg') no-repeat;
                background-position: right bottom;
                padding: 30px 15px 15px 15px;
                background-size: cover;
            }
            &.typ-sales {
                background: url('../images/mb-retail-banner.jpg') no-repeat #cccccc;
                background-size: cover;
                background-position: center center;
                padding: 30px 15px 15px 15px;
                &.typ-crm-dlos {
                    background: url(../images/banner/los_mobile_banner.jpg) no-repeat #cccccc;
                    background-position: bottom right;
                    background-size: cover;
                }
                &.typ-analytics {
                    background: url('../images/banner/mobile/analytics_banner.jpg')no-repeat #cccccc;
                    background-size: cover;
                }
                &.typ-crm-sales {
                    background: url('../images/banner/mobile/sales-banner.jpg') no-repeat #cccccc;
                    background-size: cover;
                }
                &.typ-services {
                    background: url('../images/banner/mobile/services_banner.jpg') no-repeat #cccccc;
                    background-size: cover;
                }
                &.typ-marketing {
                    background: url('../images/banner/mobile/marketing_banner.jpg')no-repeat right bottom #cccccc;
                    background-size: cover;
                }
                &.typ-process-management {
                    background: url('../images/banner/mobile/process_management_banner.jpg')no-repeat 0 #cccccc;
                    background-size: cover;
                }
                &.typ-collaboration {
                    background: url('../images/banner/mobile/collaboration.jpg')no-repeat bottom right #cccccc;
                    background-size: cover;
                }
            }
            &.typ-rethink,
            &.typ-sales {
                .cm-action-wrap {
                    padding: 185px 0px 0px;
                    .btn {
                        margin-right: 0px;
                        font-size: 14px;
                        line-height: 16px;
                        padding: 8px 20px;
                        &:last-child {
                            margin: 15px 0px 0px;
                            padding: 8px 20px;
                        }
                    }
                }
            }
            &.typ-aboutus {
                // background: url('../images/mb-aboutus-banner.jpg') no-repeat center bottom #cccccc;
                // background-size: cover;
                padding: 30px;
                // min-height: 420px;
                // min-height: 320px; // n-21-6-17
                .mod-banner {
                    .banner-desc {
                        width: auto;
                    }
                }
            }
            &.typ-whoweare {
                background: url('../images/mb-whoweare-banner.jpg') no-repeat center bottom #cccccc;
                background-size: cover;
                padding: 30px;
                min-height: 420px;
                .mod-banner {
                    position: relative;
                    right: 0;
                    .banner-desc {
                        width: auto;
                    }
                }
            }
            .cm-action-wrap {
                .btn {
                    width: 50%;
                    display: block;
                }
            }
            &.typ-accelerators {
                background-position: right bottom;
                padding: 30px 15px 15px 15px;
                .banner-title {
                    margin-bottom: 10px;
                }
                &.catalyst {
                    background: url('../images/banner/mobile/catalyst_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-trinity {
                    background: url('../images/banner/mobile/trinity_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-auto-flow {
                    background: url('../images/banner/mobile/autoflow_banner.jpg') no-repeat 0 transparent;
                    background-size: cover;
                    background-position: right bottom;
                }
                &.typ-autonoma {
                    background: url('../images/banner/mobile/autonoma_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-mashup-anywhere {
                    background: url('../images/banner/mobile/mashup_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-screenflow_designer {
                    background: url('../images/banner/mobile/screenflow_banner.jpg') no-repeat 0 transparent;
                    background-size: cover;
                    background-position: right bottom;
                }
                &.typ-vividflow {
                    background: url('../images/banner/mobile/vividflow_designer_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                // .banner-subtitle {
                //     font-size: 16px;
                //     line-height: 18px;
                //     // color: $clr-root;
                // }
                // .banner-desc {
                //     width: auto;
                //     font-size: 14px;
                //     line-height: 16px;
                //     color: $clr-root;
                // }
            }
            &.typ-video {
                height: 250px;
                padding: 30px 0px;
                .mod-banner {
                    position: relative;
                    left: 20px;
                    .banner-desc {
                        margin-bottom: 15px;
                    }
                    .cm-action-wrap {
                        .btn {
                            &.btn-white {
                                font-size: 13px;
                                line-height: 15px;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
            &.typ-digi {
                height: 420px;
                background-position: center center;
                background-size: cover;
                padding: 30px 15px 15px 15px;
                .mod-banner {
                    //n-21-6-17
                    // top: 30%;
                    top: auto;
                    left: 0px;
                    right: 0;
                    margin: 15px 15px 0;
                    transform: translateY(0);
                    position: relative;
                    .banner-desc {
                        width: auto;
                    }
                }
                &.typ-rethink-diginext {
                    background: url(../images//banner/rethink_digital_banner.jpg) no-repeat right 0 #cccccc;
                    background-size: cover;
                    padding: 0;
                }
                &.typ-david-decision {
                    background: url('../images/banner/mobile/david_decision_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-digital-offer {
                    background: url("../images/banner/mobile/digital_offer_management_banner.jpg") no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-master-data {
                    background: url("../images/banner/mobile/master_data_management_banner.jpg") no-repeat right center transparent;
                    background-size: cover;
                }
                &.typ-regain-win {
                    background: url('../images/banner/mobile/regain_winback_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-virtual-assistant {
                    background: url('../images/banner/mobile/virtual_assistance_banner.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
                &.typ-ecosystem {
                    background: url('../images/banner/mobile/ecosystem.jpg') no-repeat right bottom transparent;
                    background-size: cover;
                }
            }
            &.typ-contactus {
                background-position: center center;
                .form-wrap {
                    position: relative;
                    padding: 40px 0 0 0px;
                    transform: translateY(0);
                    width: auto;
                    margin-bottom: 15px;
                    top: auto;
                }
                .mod-banner {
                    margin-bottom: 25px;
                    .banner-title {
                        line-height: 22px;
                    }
                    .banner-subtitle {
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
            &.typ-static {
                height: 150px;
            }
            .swiper-container {
                width: 100%;
            }
            &.typ-events {
                .mod-banner {
                    margin: 0px;
                    .banner-title {
                        font-size: 20px;
                    }
                }
                .img-wrap {
                    margin: 0px auto;
                }
            }
        }
    }
    
    // n-21-6-17
    @media only screen and (max-width: $mobile-xs-breakpoint) {
        .bs-banner {
            &.typ-digi {
                &.typ-digital-offer {
                    background: url(../images/banner/digital_offer_management_banner.jpg) no-repeat 73% bottom transparent;
                }
            }
            &.typ-home {
                .ani-ele {
                    &.wrap6 {
                        top: 15%;
                        margin-top: 12px;
                        text-align: left;
                        left: 4%;
                        transform: none;
                    }
                    .ele-lbl {
                        font-size: 18px;
                    }
                    &.typ-circle {
                        .ele-lbl {
                            font-size: 16px;
                        }
                    }
                    &.typ-circle {
                        &:before {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    &.wrap4 {
                        &:before {
                            line-height: 45px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
        .bs-banner {
            &.typ-home {
                height: 300px;
                .ani-ele {
                    &.wrap10 {
                        top: 70%;
                        left: 50%;
                        margin-left: 19%;
                    }
                    &.wrap9 {
                        top: 70%;
                        left: 50%;
                        margin-left: -100px;
                    }
                    &.wrap8 {
                        top: 70%;
                        left: 50%;
                        margin-left: -45%;
                    }
                    &.wrap6 {
                        // margin-top: 40px;
                        text-align: center;
                        top: 50%;
                        left: auto;
                        transform: translateY(-50%);
                    }
                }
            }
            &.typ-industries {
                // padding: 100px 15px 15px 15px;
                .mod-banner {
                    width: 400px;
                }
            }
            .mod-banner {
                padding: 60px 0px 0px 30px;
            }
        }
    }