/* Variables.scss */

.bs-sec {
    padding: 40px 0;
    .sec-title {
        font-size: 55px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 55px;
        // margin-top: 25px;
        margin-bottom: 60px;
        font-family: $fnt-xbold;
        &.typ-img {
            overflow: hidden;
            span {
                position: absolute;
                left: -99999px;
                top: -99999px;
            }
        }
    }
    .sec-caption {
        margin-top: -25px;
        margin-bottom: 40px;
        font-size: 20px;
        display: block;
        .hilight {
            font-family: $fnt-bold;
        }
    }
    .sec-sub-title {
        margin-top: 20px;
        font-family: $fnt-bold;
        text-transform: uppercase;
        font-size: 24px;
    }
    .sec-head {
        position: relative;
    }
    .sec-cont {
        position: relative;
    }
    &.typ-head-sec {
        background: url('../images/bg-transparent.png') repeat 0 0 transparent;
        padding-top: 40px;
        padding-bottom: 25px;
        transition: all 0.5s ease 0s;
        &.sticky {
            position: fixed;
            left: 0;
            right: 0;
            top: 90px;
            z-index: 14;
            background-color: #e7e3d9;
            padding-top: 20px;
            padding-bottom: 20px;
            .mod-head-sec {
                .hs-title {
                    display: none;
                }
            }
        }
    }
    &.typ-triangle {
        &.sticky-spacer {
            margin-top: 154px;
        }
    }
    &.sec-resources {
        .sec-cont {
            margin-top: 100px;
        }
    }
    &.typ-sm {
        text-align: center;
        .sec-title {
            font-size: 21px;
            line-height: 23px;
            font-family: $fnt-bold;
            margin-bottom: 10px;
        }
        .sec-subtitle {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 50px;
        }
    }
    &.sec-account {
        .sec-title {
            margin-bottom: 30px;
        }
        .mod-features {
            text-align: left;
        }
    }
    &.typ-single {
        .sec-title,
        .sec-subtitle,
        .desc {
            text-align: left;
            ul {
                li {
                    line-height: 18px;
                    &:before {
                        content: "\69";
                        font-family: "crm" !important;
                        color: $clr-root;
                        font-size: 16px;
                        line-height: 18px;
                        vertical-align: middle;
                        position: absolute;
                        left: 0px;
                        top: -1px;
                    }
                }
            }
        }
    }
    &.typ-shadow {
        background-color: $clr-root;
        box-shadow: 1px -1px 3px #ddd;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    &.typ-video {
        background: url('../images/vedio-thumbnail.jpg') no-repeat 0 0 transparent;
        background-size: repeat;
        min-height: 550px;
        position: relative;
        padding: 0;
        color: $clr-root;
        .lyt-col2 {
            position: relative;
            z-index: 2;
            min-height: 550px;
        }
        .overlay {
            background: url('../images/transparent-bg.png') repeat;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 550px;
        }
        .btn-play {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            padding: 0;
            width: 60px;
            transform: translate(-50%, -50%);
        }
    }
    &.sec-foundation {
        .sec-title {
            margin-bottom: 35px;
        }
        .sec-desc {
            margin-bottom: 100px;
            p {
                font-size: 21px;
                line-height: 23px;
            }
        }
    }
    &.sec-create-intelligent {
        .lyt-col2 {
            &.colL {
                .infography-img-wrap {
                    // width: 400px;
                    // position: absolute;
                    // right: 100px;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
            }
        }
    }
    &.sec-customer-title {
        .sec-desc {
            width: 550px;
            margin: 0px auto;
        }
    }
    &.sec-usp {
        padding: 80px 0;
    }
    &.sec-planning {
        height: 400px;
        .img-wrap {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.sec-address {
        padding-top: 80px;
    }
    &.sec-map {
        padding: 0;
        .container-fluid {
            // margin: 0 -10px;
        }
    }
    &.typ-intro {
        p {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 0;
        }
    }
    &.typ-key-mod {
        padding-bottom: 0px;
    }
    &.typ-alignment {
        .mod-info {
            padding-right: 90px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-sec {
        padding: 20px 0;
        .img-wrap {
            // width: 100% !important;
            text-align: center;
        }
        .sec-title {
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 40px;
        }
        .sec-sub-title {
            margin-top: 16px;
            font-size: 16px;
        }
        .sec-caption {
            font-size: 20px;
        }
        &.typ-form {
            .sec-title {
                text-align: left;
                .cm-line-break {
                    display: inline-block;
                }
            }
            .sec-caption {
                text-align: left;
            }
        }
        &.typ-intro {
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
        &.sec-resources {
            .sec-cont {
                margin-top: 0px;
            }
        }
        &.sec-account {
            .mod-features {
                text-align: center;
            }
        }
        &.typ-head-sec {
            padding: 30px 0;
            &.sticky {
                top: 45px;
                padding: 0;
                .bs-forms {
                    &.typ2 {
                        margin: 0;
                    }
                }
            }
        }
        &.typ-triangle {
            &.sticky-spacer {
                margin-top: 80px;
            }
        }
        &.typ-video {
            min-height: 350px;
            .lyt-col2 {
                min-height: 320px;
                .mod-infography {
                    top: 50px;
                    .infography-title {
                        margin-bottom: 15px;
                    }
                }
            }
            .overlay {
                height: 350px;
            }
            .btn-play {
                top: 60%;
            }
        }
        &.sec-foundation {
            .sec-title {
                margin-bottom: 25px;
            }
            .sec-desc {
                text-align: center;
                margin-bottom: 50px;
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        &.typ-single {
            .sec-title,
            .sec-subtitle {
                text-align: center;
            }
        }
        &.sec-create-intelligent {
            .lyt-col2 {
                &.colL {
                    .infography-img-wrap {
                        position: relative;
                        // width: 200px;
                        // width: 100%;
                        // top: 100px;//n-21-6-17
                    }
                }
            }
        }
        &.sec-customer-title {
            .sec-desc {
                width: auto;
                padding-top: 10px;
            }
        }
        &.sec-count {
            ul {
                padding: 0 15px;
            }
            li {
                margin-bottom: 25px;
            }
        }
        &.sec-usp {
            padding: 40px 0;
            .item {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.sec-planning {
            height: auto;
            .img-wrap {
                position: static;
                left: auto;
                transform: none;
            }
        }
        &.sec-address {
            padding-top: 40px;
        }
        &.typ-alignment {
            .mod-info {
                padding-right: 0px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .bs-sec {
        .sec-title,
        .sec-caption,
        .cm-action-wrap {
            text-align: center;
        }
        .sec-title {
            font-size: 19px;
            line-height: 20px;
            margin-bottom: 30px;
        }
        .sec-caption {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .bs-sec {
        &.typ-form {
            .sec-title {
                .cm-line-break {
                    display: block;
                }
            }
        }
        &.typ-testi {
            .col-md-4 {
                width: 100%;
                float: none;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation: portrait) {
    .bs-sec {
        &.sec-empower {
            .sec-title {
                text-align: left;
            }
            .mod-workforce {
                .wf-title,
                .wf-desc {
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation: landscape) {
    .bs-sec {
        &.typ-triangle {
            padding: 50px 0px;
        }
        &.typ-respond {
            .mod-info {
                min-height: 120px;
            }
        }
        &.sec-create-intelligent {
            .lyt-col2 {
                &.colL {
                    .mod-infography {
                        .infography-img-wrap {
                            img {
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
}