/* Variables.scss */

.bs-header {
    perspective: 2000px;
    height: 90px;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 16;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 12px -2px rgba(216, 216, 216, 1);
    -moz-box-shadow: 0px 3px 12px -2px rgba(216, 216, 216, 1);
    box-shadow: 0px 3px 12px -2px rgba(216, 216, 216, 1);
    padding: 0 40px 0 30px;
    &.typ-transparent {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        .bs-main-menu {
            .main-link {
                color: $clr-root;
            }
        }
        .btn {
            &.btn-default {
                border-image: none;
                border: 2px solid $clr-root;
                &.btn-dark {
                    color: $clr-root;
                }
            }
        }
        .logo {
            img {
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
    }
    .logo {
        float: left;
        overflow: hidden;
        padding: 10px 0;
        width: 80px;
        img {
            float: left;
            width: 100%;
        }
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    .hamburger-link {
        background: #eaeaea;
        float: right;
        width: 45px;
        height: 45px;
        padding: 13px 10px;
        z-index: 100; //header
        position: relative; //header
        span {
            display: block;
            background: #757575;
            margin-bottom: 5px;
            height: 3px;
            transition-duration: .5s;
        }
        &.active {
            span {
                transform: translateY(8px) rotate(45deg);
                &:nth-child(2) {
                    opacity: 0;
                    transform: translateY(0px) rotate(0deg);
                }
                &:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
    .btn-search {
        float: right;
        margin-top: 44px;
        margin-right: 20px;
        .icon {
            &:before {
                vertical-align: middle;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-header {
        height: 45px;
        perspective: none;
        padding: 0;
        .logo {
            float: left;
            overflow: hidden;
            padding: 0px;
            width: 45px;
            img {
                float: left;
                width: 100%;
            }
        }
        .btn-search {
            margin-top: 0;
            padding: 12px;
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .bs-header {
        .logo {
            padding: 0px 0px 0px 10px;
            width: 50px;
        }
    }
}