/* bs-partners.scss */

.bs-partners {
    display: block;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    .partners {
        padding: 15px 0px;
        width: 16.66%; //n
        float: left;
        text-align: center;
        .partners-link {
            filter: grayscale(100%);
            opacity: .5;
            transition-duration: .5s;
            display: block;
            text-align: center;
            width: 120px;
            margin: 0 auto;
            &:hover {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
    &.typ-bright {
        .partners {
            .partners-link {
                opacity: 1;
                filter: contrast(0) brightness(100);
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-partners {
        .partners {
            width: 50%;
            // min-height: 70px;
            padding: 10px;
            .partners-link {
                // filter: grayscale(0%);
                // opacity: 1;
                width: auto
            }
        }
    }
}

// n-21-6-17
@media only screen and (max-width: $mobile-xs-breakpoint) {
    .bs-partners {
        .partners {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .bs-partners {
        .partners {
            width: 33.33%;
            .partners-link {
                width: 120px;
                margin: 10px auto;
            }
        }
    }
}