//mod-address
.bs-testi-info {
    background: #fff;
    color: #000; 
    padding: 15px 15px 50px 15px;
    position: relative;
    min-height: 306px;
    .testi-title{
        font-size: 18px;
        font-family: "proxima_nova_rgbold";
        margin-bottom: 15px;
    }
    .testi-desc{
        color:#737373;
    }
    .logo-wrap{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-testi-info {
        min-height: auto;//n-21-6-17
        margin-bottom: 20px;
    }
}