// bs-main-menu
.bs-main-menu {
    display: none;
}

@media only screen and (min-width: $mobile-breakpoint) {
    .bs-main-menu {
        display: block;
        float: right;
        margin-top: 30px;
        >.item {
            float: left;
            cursor: pointer;
            .sub-menu-wrap {
                &.typ-sm {
                    width: 550px;
                    right: 250px;
                    left: auto;
                    .sub-menu {
                        .link-box {
                            min-height: 80px;
                        }
                    }
                }
                &.typ-sm2 {
                    width: 250px;
                    right: 20px;
                    left: auto;
                    min-height: 200px;
                    .sub-menu {
                        .link-box {
                            min-height: auto;
                        }
                    }
                }
            }
            &:hover {
                .main-link {
                    color: $clr-default;
                }
                .sub-menu-wrap {
                    transform: rotateX(0);
                    opacity: 1;
                    visibility: visible;
                    &.left-nav-active {
                        .sub-menu {
                            >.item {
                                &.active {
                                    background: #d3b166;
                                    .menu-link-wrap {
                                        display: block;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-link {
            font-family: $fnt-bold;
            float: left;
            padding: 30px 20px 26px 12px;
            line-height: 14px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: $clr-link;
            &:hover {
                .menu-link-wrap {
                    display: block;
                    visibility: visible;
                }
            }
            &.last {
                padding-right: 0;
            }
        }
        .sub-menu-wrap {
            transform-style: preserve-3d;
            transform: rotateX(-30deg);
            transform-origin: 50% 0;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 70px;
            right: 70px;
            top: 90px;
            z-index: 9999;
            background: $clr-root;
            -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
            transition-duration: .5s;
            min-height: 310px;
            &.left-nav-active {
                &:before {
                    content: '';
                    background: $clr-default;
                    width: 190px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                }
                .menu-link-wrap {
                    margin-left: 190px;
                    overflow-y: auto;
                }
                .sub-menu {
                    // padding: 100px 0;
                    padding: 0; //modified by sanjiv
                    >.item {
                        // padding: 15px 30px;
                        padding: 0; //modified by sanjiv
                        width: 190px;
                        &:hover {
                            background: #d3b166;
                            .menu-link-wrap {
                                display: block;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            .sub-menu {
                width: 100%;
                overflow: hidden;
                padding: 20px;
                .link {
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    font-family: $fnt-bold;
                    position: relative;
                    color: $clr-root;
                    display: block;
                    padding: 15px;
                    &:after {
                        content: 'j';
                        font-family: "crm" !important;
                        font-size: 16px;
                        vertical-align: middle;
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        text-transform: lowercase !important;
                        transform: translateY(-50%);
                    }
                }
                >.item {
                    padding: 0 0 15px 0;
                    &:hover {
                        background: none;
                        .menu-link-wrap {
                            display: block;
                        }
                    }
                }
                .link-box {
                    position: relative;
                    margin-right: 30px;
                    min-height: 90px;
                    .link-title {
                        font-size: 12px;
                        color: $clr-default;
                        text-transform: uppercase;
                        font-family: $fnt-bold;
                        display: block;
                        margin-bottom: 8px;
                    }
                    .link-info {
                        font-size: 12px;
                        line-height: 14px;
                        color: $clr-base;
                        margin-bottom: 0;
                    }
                    >.link {
                        text-indent: -999999px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 2;
                    }
                }
                &.typ-ht {
                    .link-box {
                        min-height: 45px;
                    }
                }
            }
        }
        .menu-link-wrap {
            background: $clr-root;
            padding: 20px;
            margin-left: 0px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: none;
            visibility: hidden;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-main-menu {
        display: block;
        position: fixed;
        top: 0; //header
        background: #fff;
        bottom: 0;
        left: 100%;
        right: -100%;
        overflow-y: auto;
        border-top: solid 1px #eaeaea;
        margin: 0;
        padding-top: 45px; //header
        transition-duration: .5s;
        >.item {
            border-bottom: solid 1px #eaeaea;
            float: none;
            background: #ffffff;
            .main-link {
                padding: 15px 20px;
                display: block;
                font-size: 16px;
                text-transform: uppercase;
                float: none;
                font-family: $fnt-bold;
                color: $clr-link;
            }
            .sub-menu-wrap {
                top: 92px;
                left: 100%;
                right: -100%;
                height: 100%;
                position: fixed;
                background: #ffffff;
                border-top: solid 1px #eaeaea;
                transition-duration: .5s;
                .sub-menu {
                    padding: 0;
                    >.item {
                        padding: 0;
                        padding-left: 15px;
                        border-bottom: solid 1px #eaeaea;
                        width: 100%;
                        float: none;
                        .link-box {
                            margin: 0;
                            padding: 15px;
                            .link-title {
                                font-size: 14px;
                                color: $clr-default;
                                font-family: $fnt-bold;
                                text-transform: uppercase;
                                margin-bottom: 5px;
                            }
                            .link-info {
                                margin: 0;
                            }
                            .link {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                text-indent: -999px;
                                overflow: hidden;
                            }
                        }
                    }
                }
                &.left-nav-active {
                    .sub-menu {
                        >.item {
                            background: #fff;
                            display: block;
                            .link {
                                display: block;
                                padding: 15px;
                                font-size: 14px;
                                text-transform: uppercase;
                                font-family: $fnt-bold;
                            }
                            .menu-link-wrap {
                                position: fixed;
                                left: 100%;
                                right: -100%;
                                top: 0;
                                overflow-y: auto;
                                background: #fff;
                                transition-duration: .5s;
                                .item {
                                    border-bottom: solid 1px #eaeaea;
                                    width: 100%;
                                    float: none;
                                    .link-box {
                                        position: relative;
                                        padding-left: 30px;
                                        .link-title {}
                                        .link-info {}
                                        .link {
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            right: 0;
                                            bottom: 0;
                                            text-indent: -999px;
                                            overflow: hidden;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.active {
                position: fixed;
                left: 0;
                top: 47px;
                right: 0;
                .main-link {
                    padding-left: 30px;
                }
                &:before {
                    content: "\69";
                    font-family: "crm" !important;
                    position: absolute;
                    width: 15px;
                    height: 10px;
                    margin-right: 10px;
                    top: 50%;
                    left: 10px;
                    color: #0cada1;
                    transform: translateY(-50%) rotate(180deg);
                }
                .sub-menu-wrap {
                    display: block;
                    position: fixed;
                    opacity: 1;
                    visibility: visible;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    overflow-y: auto;
                    top: 92px;
                    transform: rotateX(0deg);
                    &.left-nav-active {
                        // display: block;
                        // position: relative;
                        // top: auto;
                        // transform: rotateX(0deg);
                        // transform-origin: 0 0;
                        overflow: visible;
                        .sub-menu {
                            >.item {
                                width: auto;
                                .link {
                                    color: $clr-link;
                                }
                                &.active {
                                    position: fixed;
                                    top: -45px;
                                    left: 0;
                                    right: 0;
                                    &:before {
                                        content: "\69";
                                        font-family: "crm" !important;
                                        position: absolute;
                                        width: 15px;
                                        height: 10px;
                                        margin-right: 10px;
                                        top: 50%;
                                        left: 10px;
                                        color: #0cada1;
                                        transform: translateY(-50%) rotate(180deg);
                                    }
                                    .link {
                                        // padding-left: 30px;
                                    }
                                    .menu-link-wrap {
                                        display: block;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        overflow-y: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.active {
            left: 0;
            right: 0;
        }
    }
}