/* bootstrap extended*/

.btn {
    border-radius: 0;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    padding: 8px 30px;
    &.btn-default {
        border: solid 3px $clr-default;
        border-image: url(../images/overlay.jpg) 20;
        &.btn-dark {
            color: rgba(0, 0, 0, .7);
            &:hover {
                color: rgba(0, 0, 0, 1);
            }
        }
    }
    &.btn-request-demo {
        background: #d3b166;
        color: $clr-root;
        position: absolute;
        top: 15px;
        right: 40px;
        z-index: 1;
        padding: 5px 20px;
        transition-duration: .5s;
        font-family: $fnt-bold;
        &:hover {
            background: #af914e;
        }
        &:focus {
            outline: none;
        }
        &.dark-theme {
            opacity: 0;
        }
    }
    &.btn-white-overlay {
        background: rgba(255, 255, 255, .2);
        border: solid 1px rgba(255, 255, 255, .3);
    }
    &.btn-login {
        position: absolute;
        right: 200px;
        top: 15px;
        padding: 3px 20px;
        font-family: $fnt-bold;
        opacity: 1;
        transition-duration: .5s;
        &.hide {
            opacity: 0;
        }
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background: transparent;
        color: rgba(255, 255, 255, 1);
    }
    &.btn-search {
        padding: 0;
        line-height: 13px;
        border-radius: 0;
        padding: 10px;
        background: transparent;
        color: $clr-base;
        .icon {
            font-size: 20px;
        }
        &:hover {
            .icon {
                color: $clr-default;
            }
        }
    }
    &.typ-lg,
    &.btn-white {
        font-size: 20px;
        line-height: 22px;
        color: $clr-base;
        padding: 20px 70px;
        font-family: $fnt-smbold;
        border-width: 4px;
    }
    &.btn-white {
        background: $clr-root;
    }
    &.btn-play {
        &:focus,
        &:active {
            box-shadow: none;
            outline: none;
        }
    }
    &.btn-primary {
        float: right;
        background: $clr-default;
        color: #ffffff;
        border: none;
        padding: 13px 15px 12px;
        &:active {
            &:focus {
                background: $clr-default;
            }
        }
    }
}

.modal {
    .modal-body {
        padding: 0px;
    }
}

@media (min-width: 1200px) {
    .container {
        &.typ-md {
            width: 960px;
            padding: 0 60px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .container {
        &.typ-md {
            padding-left: 18.6%;
            padding-right: 18.6%;
        }
    }
    .btn {
        &.btn-request-demo {
            // background: #d3b166;
            color: $clr-root;
            position: static;
            top: auto;
            right: auto;
            // z-index: 1;
            // padding: 5px 20px;
            // transition-duration: .5s;
            // font-family: $fnt-bold;
            float: right;
            background: $clr-default;
            // color: #ffffff;
            border: none;
            padding: 13px 15px 12px;
            &:active {
                &:focus {
                    background: $clr-default;
                }
            }
            // &:hover {
            //     background: #af914e;
            // }
            // &:focus {
            //     outline: none;
            // }
            // &.dark-theme {
            //     opacity: 0;
            // }
        }
        &.btn-primary {
            display: inline-block!important;
        }
    }
}

//n-21-6-17
@media only screen and (max-width: $mobile-xs-breakpoint) {
    .container {
        &.typ-md {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}