//timeline
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: rgba(36, 179, 168, 0.4);
        left: 50%;
        margin-left: -1.5px;
    }
    >li {
        margin-bottom: 60px;
        position: relative;
        width: 50%;
        float: left;
        clear: left;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        >.timeline-panel {
            float: left;
            position: relative;
            -webkit-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
            margin-left: 30px;
            .timeline-date {
                position: absolute;
                font-size: 16px;
                line-height: 18px;
                font-family: $fnt-bold;
                text-transform: uppercase;
                color: $clr-default;
                right: 0;
                top: -23px;
            }
        }
        >.timeline-badge {
            width: 11px;
            height: 11px;
            display: block;
            border-radius: 50%;
            border: 2px solid $clr-default;
            background: transparent;
            text-align: center;
            position: absolute;
            top: -20px;
            right: -5px;
            z-index: 1;
        }
        .timeline-inverted {
            >.timeline-panel {
                float: right;
            }
        }
        >.timeline-label {
            background: $clr-default;
            color: #ffffff;
            border: none;
            padding: 13px 20px 12px;
            border-radius: 5px;
            position: absolute;
            right: -50px;
            width: 100px;
            text-align: center;
            top: -55px;
            z-index: 2;
        }
    }
}

.timeline-badge {
    a {
        color: $clr-default;
        &:hover {
            color: $clr-base;
        }
    }
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline>li.timeline-inverted {
    float: right;
    clear: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline>li.timeline-inverted>.timeline-badge {
    left: -6px;
}

.timeline>li.timeline-inverted>.timeline-panel>.timeline-date {
    right: auto;
    left: 0;
    top: -23px;
}

@media (max-width:$mobile-breakpoint) {
    .timeline {
        >li {
            >.timeline-label {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            >.timeline-badge {
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -20px;
            }
            >.timeline-panel {
                float: none;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    .timeline>li.timeline-inverted {
        margin-bottom: 60px;
    }
    .timeline>li.timeline-inverted>.timeline-badge {
        left: 0;
    }
    .timeline>li.timeline-inverted>.timeline-panel>.timeline-date {
        right: 0;
        left: auto;
    }
    ul.timeline>li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }
    ul.timeline>li>.timeline-panel {
        float: right;
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}