//pg-dlos
.pg-dlos {
    .bs-sec {
        &.typ-default {
            .data {
                &:before {
                    color: $clr-root;
                }
            }
        }
    }
    .mod-infography {
        .infography-title {
            margin-bottom: 50px;
        }
    }
    .mod-usp {
        .usp-data-wrap {
            .list {
                margin-left: 0px;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .pg-dlos {
        .mod-usp {
            .usp-data-wrap {
                padding-top: 10px;
            }
        }
        .mod-info {
            &.typ-arrow {
                .info-title {
                    text-align: left;
                }
            }
        }
        .infography-img-wrap {
            img {
                width: 100%;
            }
        }
    }
}