// pg-home
.pg-home {
    margin-top: 0px;
    .bs-info-box {
        .img-wrap {
            height: auto;
        }
    }
    .bs-partners {
        .partners {
            width: 20%;
            padding: 30px 0px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .pg-home {
        margin-top: 45px;
        .bs-partners {
            .partners {
                width: 20%;
                padding: 20px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .pg-home {
        .bs-partners {
            .partners {
                width: 50%;
                padding: 10px 20px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .pg-home {
        .bs-partners {
            .partners {
                width: 20%;
            }
        }
    }
}