<div class="lyt-banner">
    <div class="mod-banner">
        <div class="banner-img">
            <img src="images/banner.jpg" alt="banner">
        </div>
        <div class="banner-cont">
            <h2 class="banner-title">
                <span class="cm-line-break cm-font1-bold">take your</span>
                <span class="cm-text-orange cm-font1-bold">business</span><span class="cm-font1-bold"> online</span>
                <span class="cm-line-break">in minutes</span>
            </h2>
            <h3 class="banner-sub-title">
                Buy a domain and get a microwebsite FREE.
            </h3>
            <div class="mod-global-search">
                <div class="input-group">
                    <span class="input-group-addon cm-font1-semi-bold">www.</span>
                    <input type="text" class="form-control cm-font1-semi-bold" placeholder="Enter your domain name and get started">
                    <span class="input-group-btn">
                        <button class="btn btn-default cm-font1-semi-bold" type="button">Search</button>
                    </span>
                </div>
                <!--<div class="bs-error type-bg">
                    <label class="text-error"><span class="cm-font1-bold">Oops!</span> &nbsp;&nbsp;&nbsp;You cannot use "&amp;" in a domain name. Would you like to search for <span class="cm-font1-bold">freshbreadbakery</span> instead?</label>
                    <button type="button" class="btn btn-error">Okay, go ahead</button>
                </div>
                <div class="bs-error type-bg">
                    <label class="text-error">Please enter a valid Domain Name</label>
                </div>-->

                <!-- changes br team -->
                <div class="bs-error type-bg lineheight18 syntax-error">
                    <label class="text-error"><span class="cm-font1-semi-bold">Oops!</span> &nbsp;&nbsp;&nbsp;You cannot use special characters in your domain name. We have removed them and run a search for <span class="cm-font1-bold">freshbreadbakery</span> instead</label>
                    <button type="button" class="btn btn-error">Okay, go ahead</button>
                </div>
                <div class="bs-error type-bg empty-error">
                    <label class="text-error">Please enter a valid Domain Name</label>
                </div>
                <!-- changes br team -->

                <div class="bs-autocomplete">
                    <ul>
                        <li class="item">freshbreak.com</li>
                        <li class="item">freshbakery.com</li>
                    </ul>
                </div>
                <span class="search-caption hidden-xs">Search with an extension like .com, .in, .net for better results</span>

            </div>
            <div class="mod-offer-val">
                <label class="val-title">Starting at</label>
                <div class="bs-currency">
                    <span class="cm-icon icon-currency currency-sign"></span><span class="currency-value cm-font1-semi-bold">299 </span><span class="currency-meta-text"> Year</span>
                </div>
            </div>
            <a href="#" class="btn btn-icon link-scroll"><span class="cm-icon icon-down"></span></a>
        </div>
    </div>
</div>