<div class="sec-head">
    <h2 class="sec-title">
        <span>How it</span>
        <span class="cm-text-orange">works</span>
    </h2>
    <h3 class="sec-sub-title">Just 3 simple steps and its all done</h3>
</div>
<div class="sec-cont">
    <div class="lyt-work-infograph">
        <ul>
            <li class="item">
                <div class="bs-icon-text">
                    <div class="icon-wrap">
                        <span class="cm-icon-bg icon-search"></span>
                    </div>
                    <h2 class="title">search</h2>
                    <p class="descp">
                        <span class="cm-line-break">Find a Domain Name for</span> <span class="cm-line-break">your business or profile</span></p>
                </div>
            </li>
            <li class="item">
                <div class="bs-icon-text">
                    <div class="icon-wrap">
                        <span class="cm-icon-bg icon-setup"></span>
                    </div>
                    <h2 class="title">setup</h2>
                    <p class="descp">
                        <span class="cm-line-break">Create a Micro Website</span> <span class="cm-line-break">using our tool</span></p>
                </div>
            </li>
            <li class="item">
                <div class="bs-icon-text">
                    <div class="icon-wrap">
                        <span class="cm-icon-bg icon-succeed"></span>
                    </div>
                    <h2 class="title">succeed</h2>
                    <p class="descp"><span class="cm-line-break">Complete your online</span> <span class="cm-line-break">presence</span></p>
                </div>
            </li>
        </ul>
        <div class="img-wrap hidden-xs">
            <img src="images/steps.png" alt="steps">
        </div>
    </div>
</div>