<div class="sec-head cm-not-in-page">
    <h2 class="sec-title">
        product buy
    </h2>
</div>
<div class="sec-cont">
    <div class="mod-offer">
        <div class="mod-offer-val">
            <label class="val-title">Get started at</label>
            <div class="bs-currency">
                <span class="cm-icon icon-currency currency-sign"></span><span class="currency-value cm-font1-semi-bold">299</span><span class="currency-meta-text"> Year</span>
            </div>
        </div>
        <p class="descp">
            <span class="cm-line-break">You pay for the Domain Name</span>
            <span class="cm-line-break">and we take care of the rest.</span>
        </p>
        <div class="act-btn">
            <a href="#" class="btn btn-primary">buy now</a>
        </div>
    </div>
</div>