<div class="sec-head">
    <h4 class="sec-title">
        <span>IN THE</span>
        <span class="cm-text-orange"> MARKET</span>
    </h4>
    <h5 class="sec-sub-title">Businesses using this product</h5>
</div>
<div class="sec-cont">
    <div class="slider text-center">
        <ul>
            <li>
                <img src="images/banner1.png" alt="slide1">
            </li>
        </ul>
        <div class="nav-btn-wrap">
            <button type="button" class="btn btn-round nav-left">
                <span class="cm-icon icon-left"></span>
            </button>
            <button type="button" class="btn btn-round nav-right">
                <span class="cm-icon icon-right"></span>
            </button>
        </div>
    </div>
</div>