/* element.scss */

body {
    background: $clr-root;
    font-size: 14px;
    margin-top: 90px;
    font-family: 'proxima_nova_rgregular';
    color: $clr-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    line-height: 18px;
    margin-bottom: 10px;
    font-family: 'proxima_nova_rgregular';
}

a,
a:hover,
a:focus,
a:active {
    color: $clr-base;
    text-decoration: none;
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
    body {
        margin-top: 45px;
    }
}