//mod-card
.mod-card {
    width: 510px;
    padding: 30px;
    position: relative;
    background: $clr-root;
    .card-title {
        color: $clr-base;
        font-size: 17px;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .card-desc {
        margin-bottom: 15px;
        p {
            font-family: $fnt-regular;
            color: $clr-link;
            font-size: 14px;
        }
    }
    .card-detail-link {
        font-size: 16px;
        line-height: 18px;
        text-transform: capitalize;
        color: $clr-default;
        font-family: $fnt-smbold;
        &:after {
            content: "j";
            font-family: "crm" !important;
            text-transform: lowercase;
            vertical-align: text-bottom;
            margin-left: 5px;
        }
    }
}

@media (max-width:$mobile-breakpoint) {
    .mod-card {
        width: 100%;
        padding: 20px;
        .card-title {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
}