//mod-banner
.mod-banner {
    .banner-title {
        font-family: $fnt-xbold;
        font-size: 62px;
        line-height: 68px;
        color: $clr-base;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .banner-desc {
        width: 760px; // n 22-6-17
        font-family: $fnt-light;
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 50px;
    }
    .banner-logo {
        opacity: 1;
        margin-bottom: 30px;
        // margin: 0 auto 30px;//n-21-6-17
        display: block;
        width: 200px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-banner {
        .banner-title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 5px;
        }
        .banner-desc {
            
            font-size: 16px;
            line-height: 18px;
        }
        // n-21-6-17
        .banner-logo {
            margin: 0 0 20px;
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint){
    .mod-banner{
        .banner-desc{
            width: 180px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint){
    .mod-banner{
        .banner-title {
            font-size: 38px;
            line-height: 40px;
            margin-bottom: 15px;
        }
        .banner-desc {
            font-size: 20px;
            line-height: 22px;
        }
        .banner-desc{
            width: 50%;
        }
    }
}