//mod-request-demo
.mod-request-demo {
    .title {
        font-size: 55px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 55px;
        margin-top: 25px;
        margin-bottom: 60px;
        font-family: $fnt-xbold;
    }
    .drp-dwn {
        position: relative;
        &:before {
            position: absolute;
            content: "\64";
            position: absolute;
            font-family: "crm" !important;
            right: 5px;
            top: 8px;
            display: inline-block;
            color: rgba(0, 0, 0, .4);
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-request-demo {
        .title {
            font-size: 25px;
            line-height: 27px;
            margin-top: 0;
        }
    }
}