//mod-product
.mod-infography {
    position: relative;
    .infography-title {
        font-size: 54px;
        line-height: 56px;
        font-family: $fnt-xbold;
        margin-bottom: 35px;
        text-transform: uppercase;
        &.typ-sm {
            font-size: 48px;
            line-height: 50px;
        }
    }
    .infography-subtitle {
        font-size: 25px;
        line-height: 27px;
        font-family: $fnt-bold;
        margin-bottom: 35px;
        text-transform: uppercase;
    }
    .infography-desc {
        font-family: $fnt-regular;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
        p {
            margin-bottom: 30px;
            line-height: 26px;
        }
    }
    .infography-img-wrap {
        img {
            width: 100%;
        }
        ul {
            li {
                margin-bottom: 30px;
            }
        }
    }
    .btn-default {
        color: rgba(0, 0, 0, .7);
    }
    &.typ-team {
        .infography-cont-wrap {
            margin-top: 140px;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-infography {
        &.mob-btm {
            .infography-cont-wrap {
                //n-21-6-17
                padding-top: 350px;
            }
        }
        .infography-title,
        .infography-title.typ-sm {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        .infography-subtitle {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 15px;
        }
        .infography-desc {
            font-size: 14px;
            margin-bottom: 20px;
            line-height: 16px;
            p {
                line-height: 16px;
            }
        }
        .infography-img-wrap {
            img {
                width: 75%;
                display: inline-block;
            }
        }
        // n-21-6-17
        &.typ-team {
            .infography-cont-wrap {
                margin-top: 0;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .mod-infography {
        &.mob-btm {
            .infography-cont-wrap {
                padding-top: 150px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint){
    .mod-infography {
        &.mob-btm {
            .infography-cont-wrap {
                padding-top: 320px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation: landscape) {
    .mod-infography {
        &.mob-btm {
            .infography-cont-wrap {
                padding-top: 0px;
            }
        }
    }
}