//mod-event-about
.mod-event-about {
    margin-bottom: 20px;
    .title {
        font-size: 22px;
        line-height: 24px;
        font-family: $fnt-bold;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .sub-title {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-family: $fnt-smbold;
        color: $clr-base;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-event-about {
        text-align: center;
    }
}

@media only screen and (max-width:$mobile-breakpoint) and (min-width:$mobile-xs-breakpoint) and (orientation:landscape) {
    .mod-event-about {
        text-align: left;
    }
}