//mod-connectors
.mod-connectors {
    text-align: center;
    .connector-title {
        font-size: 21px;
        line-height: 23px;
        color: $clr-base;
        text-transform: capitalize;
        padding: 15px 0px;
        background: #f9f9f9;
        font-family: $fnt-bold;
    }
    .connector-list-wrap {
        .item {
            background: $clr-root;
            border-bottom: 1px solid #f9f9f9;
            padding: 10px 0;
            min-height: 70px;
        }
        .img-wrap {
            width: 110px;
            height: 46px;
            margin: 0 auto;
            display: inline-block;
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    // .mod-connectors {
    //     .connector-list-wrap {
    //         .img-wrap {
    //             width: 110px;
    //         }
    //     }
    // }
}