/* mod-icon-info.scss */

.mod-icon-info {
    .icinfo-title {
        font-family: "proxima_nova_rgbold";
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    &:before {
        content: "";
        position: relative;
        width: 125px;
        height: 125px;
        margin: auto auto 20px auto;
        display: block;
        border-radius: 50%;
        background-color: #e8e2dc;
    }
    &.typ-organise {
        &:before {
            background: #e8e2dc url(../images/icon-organise.png) no-repeat center center;
        }
    }
    &.typ-unify {
        &:before {
            background: #e8e2dc url(../images/icon-unifi.png) no-repeat center center;
        }
    }
    &.typ-transform {
        &:before {
            background: #e8e2dc url(../images/icon-transform.png) no-repeat center center;
        }
    }
    &.typ-public-cloud {
        &:before {
            background: #e8e2dc url(../images/icon-public_cloud.png) no-repeat center center;
        }
    }
    &.typ-private-cloud {
        &:before {
            background: #e8e2dc url(../images/icon-private_cloud.png) no-repeat center center;
        }
    }
    &.typ-on-premise {
        &:before {
            background: #e8e2dc url(../images/icon-on_premise.png) no-repeat center center;
        }
    }
    &.typ-tree {
        &:before {
            background: #e8e2dc url(../images/icon-tree.png) no-repeat center center;
        }
    }
    &.typ-chat {
        &:before {
            background: #e8e2dc url(../images/icon-chat.png) no-repeat center center;
        }
    }
    .icinfo-desc {
        p {
            font-size: 20px;
            line-height: 24px;
        }
    }
    &.lyt-list {
        &.typ-grid {
            margin: 20px 0;
            .list-item {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    &.typ-sm {
        font-size: 14px;
        line-height: 20px;
    }
}
