//mod-usp
.mod-usp {
    .usp-title {
        font-size: 21px;
        line-height: 23px;
        font-family: $fnt-bold;
        color: $clr-base;
        margin-bottom: 35px;
        text-transform: uppercase;
        padding-left: 55px;
        &.typ-customer-challenge {
            position: relative;
            &:before {
                position: absolute;
                content: '';
                background: url('../images/icon-cust-challege.png') no-repeat 0 0 transparent;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                background-size: cover;
                left: 0;
                top: -8px;
            }
        }
        &.typ-solutions-provided {
            position: relative;
            &:before {
                position: absolute;
                content: '';
                background: url('../images/icon-solution-provided.png') no-repeat 0 0 transparent;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                background-size: cover;
                left: 0;
                top: 0px;
            }
        }
        &.typ-benefits-realized {
            position: relative;
            &:before {
                position: absolute;
                content: '';
                background: url('../images/icon-benefits-realized.png') no-repeat 0 0 transparent;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                background-size: cover;
                left: 0;
                top: -8px;
            }
        }
    }
    .usp-data-wrap {
        li {
            position: relative;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .event-name {
            display: inline-block;
            margin-top: 5px;
        }
        .data {
            font-size: 14px;
            line-height: 16px;
            font-family: $fnt-regular;
            padding-left: 20px;
            &:before {
                content: "\69";
                font-family: "crm" !important;
                color: #0cada1;
                font-size: 16px;
                line-height: 18px;
                vertical-align: middle;
                position: absolute;
                left: 0px;
                top: -1px;
            }
            &.typ-head {
                &:before {
                    left: -16px;
                }
            }
            .dark {
                font-family: $fnt-bold;
            }
        }
        .list {
            margin-left: 6px;
            .sublist {
                margin-left: 30px;
                list-style-type: circle;
                &:before {
                    content: none;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-usp {
        .usp-title {
            margin-bottom: 20px;
        }
        .usp-data-wrap {
            li {
                margin-bottom: 15px;
            }
            .data {
                text-align: left;
            }
            .list {
                .sublist {
                    text-align: left;
                    &:last-of-type {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}