//mod-head-sec
.mod-head-sec {
    text-align: center;
    padding: 25px 20px;
    overflow: hidden;
    .hs-title {
        font-size: 40px;
        line-height: 42px;
        font-family: $fnt-bold;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .hs-link-wrap {
        overflow: hidden;
        .link {
            text-decoration: none;
            font-size: 18px;
            line-height: 20px;
            font-family: $fnt-smbold;
            color: rgba(0, 0, 0, .7);
            text-transform: uppercase;
            transition: all 0.5s ease 0s;
            &.active,
            &:hover {
                font-size: 21px;
                line-height: 23px;
                font-family: $fnt-xbold;
            }
        }
        li {
            display: inline;
            &:after {
                content: '|';
                font-size: 20px;
                line-height: 22px;
                margin: 0px 10px;
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }
    &.typ-noLink {
        .hs-title {
            font-size: 50px;
            line-height: 52px;
            margin-bottom: 15px;
        }
    }
    .sec-R {
        &.typ-dark {
            background-color: #faf8f6;
        }
    }
    &.typ-dark {
        background-color: #faf8f6;
    }
    .mod-usp {
        margin-bottom: 15px;
    }
    .sec-desc {
        .title {
            font-size: 22px;
            line-height: 24px;
            font-family: $fnt-smbold;
            margin-bottom: 15px;
        }
        p {
            &.dark {
                font-family: $fnt-smbold;
                margin: 10px 0px;
                font-size: 16px;
                line-height: 18px;
            }
        }
        table {
            width: 100%;
            border: 1px solid $clr-base;
            th {
                text-align: center;
                font-family: $fnt-smbold;
                padding: 10px;
                width: 33.33%;
                border: 1px solid $clr-base;
            }
            td {
                padding: 10px;
                width: 33.33%;
                border: 1px solid $clr-base;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-head-sec {
        .hs-title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        .sec-desc {
            text-align: left !important;
            table {
                th {
                    padding: 5px 5px;
                    font-size: 11px;
                    line-height: 16px;
                }
                td {
                    padding: 5px 5px;
                    font-size: 11px;
                    line-height: 16px;
                }
            }
        }
        .hs-link-wrap {
            padding: 0 15px;
            .link {
                font-size: 14px;
                line-height: 24px;
                &.active,
                &:hover {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            li {
                &:after {
                    font-size: 16px;
                    line-height: 22px;
                    margin: 0px 6px;
                }
            }
        }
        &.typ-noLink {
            .hs-title {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .mod-head-sec {
        .sec-desc {
            table {
                th {
                    padding: 10px;
                    font-size: inherit;
                }
                td {
                    padding: 10px;
                    font-size: inherit;
                }
            }
        }
    }
}