/* mod-workforce.scss */

.mod-workforce {
    .wf-title {
        font-family: "proxima_nova_rgbold";
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 25px;
        text-transform: uppercase;
    }
    .wf-desc {
        p {
            font-size: 21px;
            line-height: 26px;
            color: rgba(255, 255, 255, .6);
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-workforce {
        .wf-title {
            font-size: 16px;
            margin-top: 15px;
        }
        .wf-desc {
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint){
    .mod-workforce {
        .wf-title {
            text-align: center;
        }
        .wf-desc {
            text-align: center;
        }
    }
}