//mod-sitemap
.mod-sitemap {
    margin-left: 10px;
    margin-bottom: 20px;
    .item {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
        a {
            &:hover {
                color: $clr-default;
            }
        }
    }
}