//mod-features
.mod-features {
    padding: 0 25px;
    .feature-title {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-family: $fnt-bold;
        margin-bottom: 15px;
    }
    .feature-subtitle {
        font-size: 14px;
        line-height: 16px;
        color: $clr-link;
        // min-height: 30px;
        margin-bottom: 30px;
    }
    .feature-desc {
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }
    &.typ-details {
        .feature-title {
            font-size: 21px;
            line-height: 23px;
            margin-bottom: 15px;
        }
        .detail-list {
            li {
                min-height: 80px;
                position: relative;
                padding-left: 5px;
                &:before {
                    content: "\69";
                    font-family: "crm" !important;
                    color: $clr-default;
                    font-size: 16px;
                    line-height: 18px;
                    vertical-align: middle;
                    position: absolute;
                    left: -15px;
                    top: -1px;
                }
            }
            .title {
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                font-family: $fnt-bold;
                margin-bottom: 10px;
                color: $clr-link;
                sup {
                    top: -4px;
                    font-size: 10px;
                }
            }
            .desc {
                font-size: 14px;
                line-height: 16px;
                color: $clr-link;
            }
        }
    }
    &.typ-list {
        .detail-list {
            li {
                min-height: auto;
                padding-left: 0;
                &:before {
                    content: none;
                }
                .title {
                    text-transform: none;
                    font-family: $fnt-regular;
                    color: $clr-base;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-features {
        padding: 0;
        .feature-title {
            margin-bottom: 10px;
        }
        &.typ-details {
            .detail-list {
                li {
                    padding-left: 20px;
                    &:before {
                        left: 0;
                    }
                }
            }
        }
        &.typ-list {
            .detail-list {
                li {
                    padding-left: 0px;
                }
            }
        }
    }
}