//mod-static-content
.mod-static-content {
    padding: 30px 0px;
    .title {
        margin: 25px 0px 10px;
        font-size: 18px;
        line-height: 20px;
        font-family: $fnt-smbold;
    }
    .desc {
        margin: 15px 0px;
    }
}