/* mod-newsletter.scss */

.mod-newsletter {
    border: solid 1px;
    border-image: url(../images/overlay.jpg) 20;
    padding: 3px;
    .input-fld {
        float: left;
        width: 70%;
        padding: 11px;
        background: none;
        border: none;
        color: #969696;
    }
    .btn {
        float: left;
        width: 30%;
        background: #545454;
        text-align: center;
        padding: 8px 0;
        color: #ffffff;
    }
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}