//mod-address
.mod-address {
    margin-bottom: 50px;
    .address-title {
        font-size: 20px;
        line-height: 22px;
        color: $clr-base;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: $fnt-bold;
    }
    .address {
        font-size: 18px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7);
        padding: 10px 0px;
        .cm-line-break {
            display: inline-block;
            width: 100%;
        }
    }
    .item {
        display: table-cell;
        float: none;
        position: relative;
        margin-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5px;
            width: 1px;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
        &.last {
            &:after {
                content: none;
            }
        }
    }
    
        .row {
            margin-bottom: 30px;
        }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-address {
        margin-bottom: 30px;
        .address-title {
            margin-bottom: 10px;
        }
        .address {
            font-size: 16px;
        }
        .item {
            display: block;
            margin-bottom: 20px;
            &:after {
                content: none;
            }
            &.last {
                margin-bottom: 0;
            }
        }
    }
}