// mod-customer
.mod-customer {
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 2px 2px 1px #ddd;
    cursor: pointer;
    .bs-info-box {
        .cust-logo {
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 3;
            top: 5%;
            filter: contrast(0) brightness(100);
        }
        .info-wrap {
            position: absolute;
            top: 100%;
            transform: translateY(-100%);
            background-color: $clr-root;
            padding: 15px;
            transition: all 1s ease, background-color 1ms;
            z-index: 3;
            .info-title {
                font-size: 16px;
                line-height: 18px;
                font-family: "proxima_nova_rgbold";
                color: $clr-base;
                margin-bottom: 10px;
            }
            .info-desc {
                color: $clr-link;
                font-size: 11px;
                height: 25px;
                margin-right: 10%;
            }
        }
        .img-wrap {
            overflow: hidden;
            img {
                width: 100%;
                float: left;
            }
        }
        .info-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-indent: -9999px;
            z-index: 3;
            &:before {
                content: "\69";
                font-family: "crm" !important;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: rgba(255, 255, 255, .2);
                color: #ffffff;
                position: absolute;
                font-size: 20px;
                text-align: center;
                line-height: 40px;
                font-weight: 100;
                z-index: 3;
                opacity: 0;
                right: 30px;
                text-indent: initial;
                bottom: 10px;
                transition-duration: 1s;
            }
            &:hover {
                &:before {
                    opacity: 1;
                    right: 15px;
                }
            }
        }
        &:hover {
            .cust-logo {
                opacity: 1;
            }
            .info-wrap {
                top: 25%;
                transform: translateY(0%);
                background-color: rgba(0, 0, 0, 0);
                .info-title,
                .info-desc {
                    color: $clr-root;
                    font-size: 16px;
                }
            }
            &:after {
                content: " ";
                background: url("../images/overlay.jpg");
                background-size: cover;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        &:after {
            content: none;
        }
    }
}