// mod-seo-content
.mod-seo-content {
    padding: 0 30px;
    position: relative;
    .container {
        position: relative;
    }
    .swiper-container {
        overflow: hidden;
        margin: 0px auto;
        // .swiper-wrapper {
        //     height: auto !important;
        // }
        .swiper-pagination {
            bottom: -20px;
            text-align: left;
        }
        .swiper-slide {
            height: 150px;
            overflow: auto;
        }
    }
    p {
        font-size: 14px;
        color: #6a6a6a;
        margin-bottom: 10px;
    }
    h3 {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 24px;
    }
    strong {
        font-family: $fnt-bold;
        margin-bottom: 6px;
        display: inline-block;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-seo-content {
        padding-bottom: 15px;
        .swiper-container {
            .swiper-slide {
                padding-bottom: 10px;
            }
            .swiper-pagination {
                left: 11px;
            }
        }
    }
}