.mod-event-filter {
    display: block;
    overflow: hidden;
    .filter-left {
        background-color: #fbf9f8;
        .form-group {
            margin-bottom: 0px;
            .form-control {
                width: 198px;
                height: 38px;
                color: #c2b8ae;
                text-transform: uppercase;
                padding: 10px 0;
            }
        }
    }
    .filter-right {
        background-color: #f7f5f1;
        .form-group {
            margin-bottom: 0px;
            .form-control {
                width: 198px;
                height: 38px;
                color: #c2b8ae;
                text-transform: uppercase;
                padding: 10px 0;
            }
        }
    }
}