//mod-count
.mod-count {
    position: relative;
    .count-title {
        font-size: 48px;
        line-height: 50px;
        font-family: $fnt-xbold;
    }
    .count-sub-title {
        font-size: 14px;
        line-height: 16px;
        font-family: $fnt-smbold;
        text-transform: capitalize;
    }
    &:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 30px;
        background: rgba(255, 255, 255, 0.3);
        left: -15px;
        bottom: 4px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-count {
        .count-title {
            font-size: 24px;
            line-height: 26px;
        }
        &:before {
            height: 15px;
            left: -10px;
        }
    }
}