//mod-info
.mod-info {
    .info-title {
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase;
        font-family: $fnt-smbold;
        margin-bottom: 15px;
    }
    .info-desc {
        min-height: 100px;
        p {
            margin-bottom: 0;
        }
    }
    &.type-foundation {
        .info-title {
            font-size: 21px;
            line-height: 24px;
            font-family: $fnt-smbold;
            color: $clr-base;
            margin-bottom: 30px;
        }
        .info-desc {
            min-height: auto;
            p {
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 30px;
            }
        }
    }
    &.typ-los {
        margin-bottom: 35px;
        overflow: hidden;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mod-info {
        text-align: center;
        margin-bottom: 30px;
        .info-title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .info-desc {
            min-height: auto;
        }
        &.type-foundation {
            .info-title {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 15px;
            }
            .info-desc {
                min-height: auto;
                p {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}