/* Variables.scss */

.cm-not-in-page {
    position: fixed;
    left: -9999px;
    top: -9999px;
}

.cm-line-break {
    display: block;
}

.cm-bg {
    background: $clr-root;
    color: $clr-base;
    &.typ-grey {
        background: #e9e9e9;
    }
    &.typ-default {
        background-color: $clr-default;
        color: $clr-root;
        .mod-usp {
            .usp-data-wrap {
                li::before {
                    color: #ffffff;
                }
            }
        }
    }
    &.typ-primary {
        background-color: $clr-primary;
    }
    &.typ-dusty {
        background: url('../images/texture_background.jpg') no-repeat center bottom;
        background-size: cover;
    }
    &.typ-smoke {
        background-image: none;
        background-color: #dcd5cd;
    }
    &.typ-texture {
        &.spiral {
            background-image: url('../images/abstract_round.png');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.abstract {
            position: relative;
            &.typ-green {
                background-image: url('../images/abstract-green.png');
                background-position: right top;
                background-repeat: no-repeat;
                &.pos-top-left {
                    background-image: url('../images/bg-green-patch.png');
                    background-position: left top;
                    background-repeat: no-repeat;
                }
                &.pos-bottom-left {
                    background-image: url('../images/bg-green-patch-v.png');
                    background-position: left top;
                    background-repeat: no-repeat;
                }
                &.pos-top-right {
                    background-image: url('../images/abstract-green-right-top.png');
                    background-position: right top;
                    background-repeat: no-repeat;
                }
                &.pos-top-bottom {
                    background-image: url('../images/bg-green-both.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &.pos-bottom-right {
                    background-image: url('../images/abstract-green-right-bottom.png');
                    background-position: right bottom;
                    background-repeat: no-repeat;
                }
            }
            &.typ-red {
                background-image: url('../images/abstract_sharp.png');
                background-position: right bottom;
                background-repeat: no-repeat;
                &.pos-btm-left {
                    background-image: url('../images/abstract_sharp_revert.png');
                    background-position: 630px center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    &.typ-triangle {
        background: url('../images/sales_background.jpg') no-repeat -63px top;
    }
}

.cm-action-wrap {
    padding: 20px 0;
    &.typ-eqal {
        .btn {
            margin: 0 10px;
            width: 140px;
        }
    }
}

.cm-img-wrap {
    margin: 25px 0;
    img {
        width: 100%;
    }
}

.cm-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 999;
    display: none;
    &:before {
        content: "Adding innovation as fuel...";
        background: url(../images/crm_next_logo.svg) no-repeat center center;
        height: 112px;
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 241px;
        width: 200px;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        margin-left: -85px;
        margin-top: -75px;
        color: #999;
        font-weight: bold;
    }
    &.active {
        display: block;
    }
}

.cm-heart-divider {
    position: relative;
    margin-bottom: 32px;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        height: 1px;
        line-height: 20px;
        width: 200px;
        font-size: 20px;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) calc(50% - 20px), rgba(255, 255, 255, 0) calc(50% - 20px), rgba(255, 255, 255, 0) calc(50% + 20px), rgba(255, 255, 255, 0) calc(50% + 20px), rgba(255, 255, 255, 1) calc(50% + 20px), rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    &:after {
        content: "\61";
        bottom: -20px;
        position: absolute;
        font-family: "crm" !important;
        text-transform: lowercase!important;
        text-align: center;
        left: 0;
        width: 200px;
        right: 0;
        margin-bottom: -10px;
        font-size: 21px;
        line-height: 21px;
        color: #fff;
    }
    &.text-center {
        &:after {
            margin: auto auto -10px auto;
        }
        &:before {
            margin: auto;
        }
    }
    &.typ-dark {
        &:before {
            background: linear-gradient(to right, rgba(153, 153, 153, 1) 0%, rgba(153, 153, 153, 1) calc(50% - 20px), rgba(153, 153, 153, 0) calc(50% - 20px), rgba(153, 153, 153, 0) calc(50% + 20px), rgba(153, 153, 153, 0) calc(50% + 20px), rgba(153, 153, 153, 1) calc(50% + 20px), rgba(153, 153, 153, 1) 100%);
        }
        &:after {
            color: rgba(153, 153, 153, 1);
        }
    }
    &.typ-black {
        &:before {
            background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) calc(50% - 20px), rgba(0, 0, 0, 0) calc(50% - 20px), rgba(0, 0, 0, 0) calc(50% + 20px), rgba(0, 0, 0, 0) calc(50% + 20px), rgba(0, 0, 0, 1) calc(50% + 20px), rgba(0, 0, 0, 1) 100%);
        }
        &:after {
            color: rgba(0, 0, 0, 1);
        }
    }
}

.cm-text-default {
    color: $clr-default;
}

.cm-play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 50px;
    border-color: transparent transparent transparent #ffffff;
    display: block;
    &.typ-sm {
        border-width: 20px 0 20px 35px;
    }
}

.cm-col-5 {
    width: 20%;
}

.cm-visible-sm {
    display: none;
}

.thank-page {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 2;
    width: 655px;
    margin: -75px auto 0;
    img {
        width: 170px;
        float: left;
        margin-right: 30px;
    }
    .decs {
        text-align: left;
        float: left;
        margin-top: 27px;
        .text {
            font-size: 72px;
            line-height: 74px;
            text-transform: uppercase;
            font-family: "proxima_novaextrabold";
            margin-bottom: 3px;
        }
        p {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 0px;
            color: #7f7f7f;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .cm-hidden-sm {
        display: none;
    }
    .cm-visible-sm {
        display: block;
    }
    .cm-bg {
        &.typ-triangle {
            .mob-btm {
                .infography-cont {
                    .infography-title,
                    .infography-desc {
                        color: $clr-root;
                    }
                }
            }
        }
        &.typ-texture {
            &.abstract {
                &.typ-red {
                    &.pos-center {
                        padding: 20px 0px 0px;
                    }
                }
            }
        }
    }
    .cm-heart-divider {
        &:before {
            width: 140px;
        }
    }
    .cm-action-wrap {
        padding: 15px 0px;
        &.typ-eqal {
            .btn {
                margin: 0 3px;
                width: 88px;
                padding: 8px 0;
                font-size: 12px;
            }
        }
    }
    // n-21-6-17
    .cm-bg {
        &.typ-texture {
            &.abstract {
                .cm-col-5 {
                    width: 50%;
                }
            }
        }
    }
    .thank-page {
        text-align: center;
        width: auto;
        margin-top: -112px;
        img {
            float: none;
            width: 100px;
            margin: 0;
        }
        .decs {
            float: none;
            text-align: center;
            margin-top: 8px;
            .text {
                font-size: 30px;
                line-height: 32px;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) {
    .cm-img-wrap {
        margin: 10px 0px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation: portrait) {
    .cm-bg {
        &.typ-triangle {
            background-color: $clr-default;
            background-image: none;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) and (min-width: $mobile-xs-breakpoint) and (orientation: landscape) {
    .cm-bg {
        &.typ-triangle {
            .mob-btm {
                .infography-cont {
                    .infography-desc,
                    .infography-title {
                        color: $clr-base;
                    }
                }
            }
        }
    }
}