@charset "UTF-8";

@font-face {
  font-family: "crm";
  src:url("fonts/crm.eot");
  src:url("fonts/crm.eot?#iefix") format("embedded-opentype"),
    url("fonts/crm.woff") format("woff"),
    url("fonts/crm.ttf") format("truetype"),
    url("fonts/crm.svg#crm") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "crm" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "crm" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\61";
}
.icon-search:before {
  content: "\63";
}
.icon-down-arr:before {
  content: "\64";
}
.icon-fb:before {
  content: "\62";
}
.icon-twiter:before {
  content: "\65";
}
.icon-gplus:before {
  content: "\66";
}
.icon-linkedin:before {
  content: "\67";
}
.icon-youtube:before {
  content: "\68";
}
.icon-right-arr:before {
  content: "\69";
}
.icon-right-arrow:before {
  content: "\6a";
}
.icon-left-arrow:before {
  content: "\6b";
}
.icon-calendar:before {
  content: "\6c";
}
